In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv("C:\\Users\\Rabat\\Downloads\\General\\General\\02 Набор данных\\with_closed_ations_as________select_app_2020_X5_STORES.CSV")
data

D:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,4797513,3847682,-1,7335,2020-03-23 19:57:25.316022+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
1,4545953,3714199,-1,24522,2020-01-24 16:57:59.521103+00,Создание кандидата,NaN,NaN,Директор магазина,True,False
2,4600098,3714199,-1,24522,2020-02-05 17:57:55.727051+00,Создание кандидата,NaN,NaN,Директор магазина,True,False
3,4788965,3843286,-1,10613,2020-03-20 16:09:34.454329+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
4,4777310,2372866,-1,45445,2020-03-18 13:53:36.124784+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
739676,4736341,936507,-1,32061,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739677,4734680,2232021,-1,32061,2020-04-23 16:26:11.80918+00,Гайд-интервью,Назначить время для гайд-интервью,NaN,Администратор,True,True
739678,4782853,2753502,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739679,4769924,3823657,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739680,4683816,862865,-1,32093,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True

In [45]:
le_masque = data['position_name'] == 'Продавец-кассир'
le_masque &= data['is_active_action'] == True
df = data[le_masque]
df

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,4797513,3847682,-1,7335,2020-03-23 19:57:25.316022+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
3,4788965,3843286,-1,10613,2020-03-20 16:09:34.454329+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
4,4777310,2372866,-1,45445,2020-03-18 13:53:36.124784+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
11,4798971,1253935,-1,9851,2020-03-24 10:39:28.667648+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
13,4637426,3352131,-1,7640,2020-02-13 12:44:35.802112+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
739675,4825142,2952699,-1,32061,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739676,4736341,936507,-1,32061,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739678,4782853,2753502,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739679,4769924,3823657,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739680,4683816,862865,-1,32093,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True

In [3]:
df.columns

Index(['id_applicant', 'id_partner', 'id_log', 'department_id', 'action_date',
       'stage_name', 'activity_name', 'result_name', 'position_name',
       'is_active_action', 'is_open_action'],
      dtype='object')

In [4]:
df = df.drop(['position_name'], axis =1)

In [5]:
df['is_active_action'].value_counts()

True    520487
Name: is_active_action, dtype: int64

In [6]:
#Понятия не имею нахера тут столбец is_active_action если у него все значения тру
df = df.drop(['is_active_action'], axis =1)

In [7]:
df = df.sort_values(by = ['id_applicant', 'action_date']) #отсортируем данные по кандидату и дате действия 
df

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
141051,4461761,3666193,-1,48941,2020-01-03 08:03:40.219194+00,Создание кандидата,NaN,NaN,False
131357,4461766,939413,-1,45528,2020-01-03 08:07:37.207249+00,Создание кандидата,NaN,NaN,False
89639,4461768,3666195,-1,17179,2020-01-03 08:09:56.331841+00,Создание кандидата,NaN,NaN,False
104509,4461773,3666202,-1,48935,2020-01-03 08:14:27.343217+00,Создание кандидата,NaN,NaN,False
106577,4461774,666213,-1,48834,2020-01-03 08:15:05.173052+00,Создание кандидата,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...
448347,4886615,1040329,27106030,27473,2020-04-14 11:09:14.324975+00,СБ,Подготовить анкету кандидата,Подготовлена,False
448348,4886615,1040329,27106031,27473,2020-04-14 11:09:15.338565+00,СБ,Узнать результаты СБ,Подходит,False
448349,4886615,1040329,27106032,27473,2020-04-14 11:09:16.725966+00,СБ,Проверка формы обращения,Не резерв,False
448350,4886615,1040329,27106033,27473,2020-04-14 11:09:18.335061+00,Оформление,Назначить время на оформление,Время назначено,False
448342,4886615,1040329,27106034,27473,2020-04-14 11:09:23.49207+00,Оформление,Узнать результаты приема,Принят,False

In [8]:
df['is_open_action'].value_counts()

False    497094
True      23393
Name: is_open_action, dtype: int64

In [9]:
df['stage_name'].unique()

array(['Создание кандидата', 'Не прошел СБ', 'Обработка',
       'Интервью с руководителем', 'Смена вакансии', 'Оформление',
       'Черный список', 'СБ', 'Мы отказали', 'Выход на работу',
       'Отказался', 'Резерв'], dtype=object)

In [39]:
a = (['Создание кандидата', 'Интервью с руководителем', 'СБ', #Список стадий 2018
       'Обработка', 'Назначение времени на оформление/медосмотр',
       'Оформление', 'Смена вакансии', 'Выход на работу', 'Отказался',
       'Резерв', 'Ожидание', 'Не прошел СБ', 'Мы отказали',
       'Черный список', 'Кадровый резерв'])

In [40]:
b = (['Создание кандидата', 'Интервью с руководителем', 'Обработка', #список стадий 2020
       'Оформление', 'Смена вакансии', 'СБ', 'Не прошел СБ',
       'Мы отказали', 'Выход на работу', 'Отказался', 'Резерв',
       'Черный список'])

In [127]:
print('стадии что не вошли в 2020')
print('--------------')
i = 0
while i < 15:
    if (a[i] not in b):  
        print(a[i])
    i = i + 1

стадии что не вошли в 2020
--------------
Назначение времени на оформление/медосмотр
Ожидание
Кадровый резерв

In [67]:
print('стадии который нет в 2018, но есть в 2020')
print('--------------')
i = 0
while i < 12:
    if (b[i] not in a):  
        print(b[i])
    i = i + 1

стадии который нет в 2018, но есть в 2020
--------------

In [10]:
df['result_name'].value_counts()

Подходит                              77596
Не резерв                             59797
Встреча назначена                     44395
Недозвон                              34221
ОС не предоставлена руководителем     27677
Подготовлена                          17763
Отказ кандидата                       12811
Время назначено                       12255
Перенос звонка                        11939
Не подходит                           10163
Принят                                 7043
Нет обратной связи от руководителя     6053
Резерв                                 3771
ОС предоставлена руководителем         3319
Перенос кандидата                      3188
Отказ руководителя                     2786
В белый список                         2381
Нет обратной связи                      339
Не принят                                71
Перенос руководителя                     25
Уточнение данных                         22
Черный список                            13
Name: result_name, dtype: int64

In [11]:
df['stage_name'].value_counts()

Создание кандидата          149735
Интервью с руководителем    121372
Обработка                    99397
Оформление                   80919
СБ                           51537
Смена вакансии                9736
Не прошел СБ                  7666
Черный список                   54
Отказался                       43
Выход на работу                 19
Мы отказали                      7
Резерв                           2
Name: stage_name, dtype: int64

In [12]:
df[df['result_name'] == 'Принят']

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
610929,4554398,3712663,26634580,34016,2020-03-25 16:13:10.972458+00,Оформление,Узнать результаты приема,Принят,False
348409,4578838,3732215,26847382,31117,2020-04-03 17:06:12.138947+00,Оформление,Узнать результаты приема,Принят,False
287517,4579888,2776525,26846233,31475,2020-04-03 16:40:06.073256+00,Оформление,Узнать результаты приема,Принят,False
267833,4592572,2542953,26895620,12874,2020-04-06 15:12:24.23083+00,Оформление,Узнать результаты приема,Принят,False
505104,4594868,3275293,26795536,36541,2020-04-01 16:07:24.806352+00,Оформление,Узнать результаты приема,Принят,False
...,...,...,...,...,...,...,...,...,...
500827,4886560,1197774,27105784,35106,2020-04-14 11:04:44.553692+00,Оформление,Узнать результаты приема,Принят,False
615551,4886575,1542748,27105875,28162,2020-04-14 11:06:42.313671+00,Оформление,Узнать результаты приема,Принят,False
222109,4886579,3878216,27105890,10530,2020-04-14 11:07:06.756809+00,Оформление,Узнать результаты приема,Принят,False
680430,4886599,3884467,27105976,48259,2020-04-14 11:08:17.306195+00,Оформление,Узнать результаты приема,Принят,False
448342,4886615,1040329,27106034,27473,2020-04-14 11:09:23.49207+00,Оформление,Узнать результаты приема,Принят,False

In [13]:
df['stage_name'].value_counts()

Создание кандидата          149735
Интервью с руководителем    121372
Обработка                    99397
Оформление                   80919
СБ                           51537
Смена вакансии                9736
Не прошел СБ                  7666
Черный список                   54
Отказался                       43
Выход на работу                 19
Мы отказали                      7
Резерв                           2
Name: stage_name, dtype: int64

In [14]:
le_masque = df['stage_name'] == 'Смена вакансии'
df_inter = df[le_masque]
df_inter

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
225534,4462581,3666663,27000117,7900,2020-04-09 16:05:18+00,Смена вакансии,NaN,NaN,False
263553,4488348,3681981,26836299,18097,2020-04-03 13:18:31+00,Смена вакансии,NaN,NaN,False
556874,4511292,3443806,27040585,9459,2020-04-11 09:37:56+00,Смена вакансии,NaN,NaN,False
675651,4514041,3748396,24843335,45475,2020-01-17 17:39:11+00,Смена вакансии,NaN,NaN,False
344192,4530625,3606511,25118133,45475,2020-01-28 16:38:24+00,Смена вакансии,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...
221849,4886050,2851233,27104241,10289,2020-04-14 10:34:57+00,Смена вакансии,NaN,NaN,False
345402,4886143,3896937,27104772,9751,2020-04-14 10:47:44+00,Смена вакансии,NaN,NaN,False
488540,4886165,3773226,27105235,45693,2020-04-14 10:56:16+00,Смена вакансии,NaN,NaN,False
424842,4886316,3796771,27104910,31705,2020-04-14 10:50:36+00,Смена вакансии,NaN,NaN,False
440423,4886324,3894318,27104529,30386,2020-04-14 10:42:15+00,Смена вакансии,NaN,NaN,False

In [15]:
df[df['id_applicant'] == 4886560]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
185527,4886560,1197774,-1,35106,2020-04-14 11:04:14.792897+00,Создание кандидата,NaN,NaN,False
500828,4886560,1197774,27105772,35106,2020-04-14 11:04:31.540786+00,Обработка,Провести первичную обработку,Подходит,False
500829,4886560,1197774,27105774,35106,2020-04-14 11:04:32.775293+00,Обработка,Проверка формы обращения,Не резерв,False
500830,4886560,1197774,27105775,35106,2020-04-14 11:04:34.239576+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
500831,4886560,1197774,27105777,35106,2020-04-14 11:04:35.44268+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
500832,4886560,1197774,27105778,35106,2020-04-14 11:04:36.590168+00,СБ,Подготовить анкету кандидата,Подготовлена,False
500833,4886560,1197774,27105779,35106,2020-04-14 11:04:37.511006+00,СБ,Узнать результаты СБ,Подходит,False
500834,4886560,1197774,27105781,35106,2020-04-14 11:04:38.764145+00,СБ,Проверка формы обращения,Не резерв,False
500835,4886560,1197774,27105783,35106,2020-04-14 11:04:40.266221+00,Оформление,Назначить время на оформление,Время назначено,False
500827,4886560,1197774,27105784,35106,2020-04-14 11:04:44.553692+00,Оформление,Узнать результаты приема,Принят,False

In [16]:
df[df['id_applicant'] == 4578838]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
63269,4578838,3732215,-1,31117,2020-01-31 16:15:32.064187+00,Создание кандидата,NaN,NaN,False
348409,4578838,3732215,26847382,31117,2020-04-03 17:06:12.138947+00,Оформление,Узнать результаты приема,Принят,False

In [17]:
df[df['result_name'] == 'Не подходит']

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
624565,4508429,3693272,24806225,45475,2020-01-16 19:40:28.031985+00,Обработка,Провести первичную обработку,Не подходит,False
687761,4521022,3700455,24883201,45475,2020-01-20 15:39:24.50778+00,Обработка,Провести первичную обработку,Не подходит,False
510633,4522393,3701252,24891584,45475,2020-01-20 19:20:14.574291+00,Обработка,Провести первичную обработку,Не подходит,False
449710,4525247,3702867,24909505,45475,2020-01-21 12:48:23.334904+00,Обработка,Провести первичную обработку,Не подходит,False
525463,4552817,3718228,25071011,45475,2020-01-27 14:23:13.306976+00,Обработка,Провести первичную обработку,Не подходит,False
...,...,...,...,...,...,...,...,...,...
481113,4886580,3818133,27105887,9623,2020-04-14 11:06:58.866494+00,Обработка,Провести первичную обработку,Не подходит,False
485610,4886582,1584354,27105896,32479,2020-04-14 11:07:13.658676+00,Обработка,Провести первичную обработку,Не подходит,False
402123,4886602,3221786,27105987,31560,2020-04-14 11:08:33.963289+00,Обработка,Провести первичную обработку,Не подходит,False
667835,4886609,3897218,27106004,8783,2020-04-14 11:08:55.302545+00,Обработка,Провести первичную обработку,Не подходит,False
473504,4886610,3897231,27106006,30523,2020-04-14 11:08:56.884943+00,Обработка,Провести первичную обработку,Не подходит,False

In [18]:
df[df['id_applicant'] == 4508429]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
114971,4508429,3693272,-1,45475,2020-01-16 19:40:05.842549+00,Создание кандидата,NaN,NaN,False
624565,4508429,3693272,24806225,45475,2020-01-16 19:40:28.031985+00,Обработка,Провести первичную обработку,Не подходит,False

In [19]:
df[df['result_name'] == 'Отказ руководителя']

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
504810,4596351,3742207,26915963,47657,2020-04-07 11:07:37.924276+00,Оформление,Предоставить обратную связь по кандидату,Отказ руководителя,False
447173,4604049,3746418,26733983,8953,2020-03-30 14:03:29.903009+00,Оформление,Предоставить обратную связь по кандидату,Отказ руководителя,False
531767,4606578,3732088,26682531,48856,2020-03-27 10:02:26.555663+00,Оформление,Предоставить обратную связь по кандидату,Отказ руководителя,False
275979,4636817,3764045,26753468,33606,2020-03-31 10:04:00.939747+00,Оформление,Предоставить обратную связь по кандидату,Отказ руководителя,False
463764,4642430,3701662,26891901,32246,2020-04-06 14:02:48.874113+00,Оформление,Предоставить обратную связь по кандидату,Отказ руководителя,False
...,...,...,...,...,...,...,...,...,...
394267,4869762,3043427,27067309,12463,2020-04-13 07:59:31.11027+00,Интервью с руководителем,Предоставить обратную связь по кандидату,Отказ руководителя,False
244876,4870208,1992500,27067325,30345,2020-04-13 07:59:47.570114+00,Интервью с руководителем,Предоставить обратную связь по кандидату,Отказ руководителя,False
680168,4872356,3880330,27089224,31632,2020-04-13 16:00:01.091958+00,Интервью с руководителем,Предоставить обратную связь по кандидату,Отказ руководителя,False
325402,4872427,3879654,27089227,9569,2020-04-13 16:00:03.534783+00,Интервью с руководителем,Предоставить обратную связь по кандидату,Отказ руководителя,False
625338,4874098,2637019,27100503,9517,2020-04-14 08:59:29.79655+00,Интервью с руководителем,Предоставить обратную связь по кандидату,Отказ руководителя,False

In [20]:
df[df['id_applicant'] == 4604049]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
84442,4604049,3746418,-1,8953,2020-02-06 13:58:12.394886+00,Создание кандидата,NaN,NaN,False
447177,4604049,3746418,26648999,8953,2020-03-26 10:02:45.221678+00,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем,False
447176,4604049,3746418,26677886,8953,2020-03-27 08:02:07.228079+00,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем,False
447175,4604049,3746418,26701790,8953,2020-03-27 16:02:35.947153+00,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем,False
447174,4604049,3746418,26733981,8953,2020-03-30 14:03:29.21226+00,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем,False
447173,4604049,3746418,26733983,8953,2020-03-30 14:03:29.903009+00,Оформление,Предоставить обратную связь по кандидату,Отказ руководителя,False

In [21]:
df[df['result_name'] == 'Черный список']

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
513560,4758392,3197557,26669264,10708,2020-03-26 15:51:42.035459+00,Оформление,Назначить время на оформление,Черный список,False
464338,4760133,3605084,26672709,25514,2020-03-26 16:40:37.178679+00,Мы отказали,NaN,Черный список,False
587253,4790505,3844094,26676767,47391,2020-03-26 18:25:24.145281+00,Оформление,Предоставить обратную связь по кандидату,Черный список,False
249563,4801774,783604,26772145,7692,2020-03-31 16:02:47.311494+00,Оформление,Узнать результаты приема,Черный список,False
570626,4814273,3516801,26839326,36545,2020-04-03 14:19:51.211505+00,Оформление,Узнать результаты приема,Черный список,False
457005,4821320,3856217,26756980,33730,2020-03-31 11:03:38.56883+00,Оформление,Назначить время на оформление,Черный список,False
337014,4822333,3824380,26927895,7947,2020-04-07 14:30:54.276778+00,Оформление,Узнать результаты приема,Черный список,False
359958,4829525,3864281,26925976,11890,2020-04-07 13:54:16.351718+00,Оформление,Назначить время на оформление,Черный список,False
509602,4832169,3290102,26878940,11755,2020-04-06 09:20:17.195593+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Черный список,False
234022,4833808,3759937,27005858,32606,2020-04-09 18:09:54.040015+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Черный список,False
463885,4838320,3869749,26832844,49734,2020-04-03 11:49:55.127966+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Черный список,False
248999,4838801,3870090,26846214,8007,2020-04-03 16:39:43.313767+00,Оформление,Назначить время на оформление,Черный список,False
422775,4847557,3873113,26951875,11448,2020-04-08 11:41:16.260562+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Черный список,False

In [22]:
df[df['id_applicant'] == 4790505]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
164238,4790505,3844094,-1,47391,2020-03-22 09:25:42.950146+00,Создание кандидата,NaN,NaN,False
587254,4790505,3844094,26653216,47391,2020-03-26 11:02:40.40499+00,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем,False
587253,4790505,3844094,26676767,47391,2020-03-26 18:25:24.145281+00,Оформление,Предоставить обратную связь по кандидату,Черный список,False
726136,4790505,3844094,-1,47391,2020-04-23 16:26:11.80918+00,Черный список,Вывести из черного списка,NaN,True

Классно получается, у нас стадии этапы найма одного человека записываются полность, а другого заносят в систему только на создание и оформление, данные не все ---> Система не проверяет предыдущие этапы и даёт запись сразу на последний этап(подразумеваю что так не должно работать)

1) Стадия 'Создание кандидата'

Полный аналог 2018

In [87]:
le_masque = df['stage_name'] == 'Создание кандидата'
df_create = df[le_masque]
df_create['activity_name'].unique()

array([nan], dtype=object)

2) Стадия 'Обработка' 

Обратить внимание, что у Ани 6 активностей на обработку, а в 2020 только две

Да и разновидности вариантов активностей в 2018 году было больше

In [89]:
le_masque = df['stage_name'] == 'Обработка'
df_inter = df[le_masque]
df_inter['activity_name'].unique()

array(['Провести первичную обработку', 'Проверка формы обращения'],
      dtype=object)

In [90]:
le_masque = df['stage_name'] == 'Обработка'
le_masque &= df['activity_name'] == 'Провести первичную обработку'
df_inter_2 = df[le_masque]
df_inter_2['result_name'].unique()

array(['Подходит', 'Не подходит', 'Отказ кандидата', 'Перенос звонка',
       'Недозвон', nan, 'Резерв'], dtype=object)

In [91]:
le_masque = df['stage_name'] == 'Обработка'
le_masque &= df['activity_name'] == 'Проверка формы обращения'
df_inter_2 = df[le_masque]
df_inter_2['result_name'].unique()

array(['Не резерв', 'Подходит'], dtype=object)

3) 'Интервью с руководителем'

Полный аналог активнойстей с 2018

Но по разновидностям вариантов активностей снова меньше чем в 2018

In [92]:
le_masque = df['stage_name'] == 'Интервью с руководителем'
df_inter = df[le_masque]
df_inter['activity_name'].unique()

array(['Назначить интервью с руководителем',
       'Узнать результаты интервью с руководителем',
       'Предоставить обратную связь по кандидату'], dtype=object)

In [93]:
le_masque = df['stage_name'] == 'Интервью с руководителем'
le_masque &= df['activity_name'] == 'Назначить интервью с руководителем'
df_inter_2 = df[le_masque]
df_inter_2['result_name'].unique()

array(['Встреча назначена', 'Отказ кандидата', 'Перенос звонка',
       'Недозвон', 'Резерв', nan, 'Не подходит', 'Подходит',
       'Перенос кандидата'], dtype=object)

In [94]:
le_masque = df['stage_name'] == 'Интервью с руководителем'
le_masque &= df['activity_name'] == 'Узнать результаты интервью с руководителем'
df_inter_2 = df[le_masque]
df_inter_2['result_name'].unique()

array(['Перенос звонка', 'Недозвон', 'Подходит', nan, 'Отказ кандидата',
       'Нет обратной связи от руководителя', 'Резерв',
       'Перенос кандидата', 'Не подходит', 'Встреча назначена',
       'Перенос руководителя', 'ОС предоставлена руководителем',
       'Черный список'], dtype=object)

In [95]:
le_masque = df['stage_name'] == 'Интервью с руководителем'
le_masque &= df['activity_name'] == 'Предоставить обратную связь по кандидату'
df_inter_2 = df[le_masque]
df_inter_2['result_name'].unique()

array(['ОС не предоставлена руководителем',
       'ОС предоставлена руководителем', 'Отказ руководителя',
       'Встреча назначена', nan, 'Нет обратной связи от руководителя',
       'Не подходит', 'Подходит', 'Недозвон'], dtype=object)

4) Оформление

In [96]:
le_masque = df['stage_name'] == 'Оформление'
df_inter = df[le_masque]
df_inter['activity_name'].unique()

array(['Назначить время на оформление', 'Узнать результаты приема',
       'Предоставить обратную связь по кандидату'], dtype=object)

In [97]:
le_masque = df['stage_name'] == 'Оформление'
le_masque &= df['activity_name'] == 'Назначить время на оформление'
df_inter_2 = df[le_masque]
df_inter_2['result_name'].unique()

array(['Недозвон', 'Резерв', 'Время назначено', 'Перенос звонка', nan,
       'Отказ кандидата', 'Черный список', 'Перенос кандидата',
       'Встреча назначена', 'Не подходит'], dtype=object)

In [98]:
le_masque = df['stage_name'] == 'Оформление'
le_masque &= df['activity_name'] == 'Узнать результаты приема'
df_inter_2 = df[le_masque]
df_inter_2['result_name'].unique()

array(['Принят', 'Недозвон', nan, 'Перенос кандидата',
       'Нет обратной связи от руководителя', 'Перенос звонка',
       'Отказ кандидата', 'Резерв', 'Не принят', 'Перенос руководителя',
       'ОС предоставлена руководителем', 'Черный список',
       'Время назначено'], dtype=object)

In [59]:
le_masque = df['stage_name'] == 'Оформление'
le_masque &= df['activity_name'] == 'Узнать результаты приема'
le_masque &= df['result_name'] == 'Резерв'
df_inter_2 = df[le_masque]
df_inter_2

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
470570,4651327,3351429,26646283,47657,2020-03-26 09:27:30.045911+00,Оформление,Узнать результаты приема,Резерв,False
689095,4700355,3752563,27073096,46421,2020-04-13 10:42:26.720182+00,Оформление,Узнать результаты приема,Резерв,False
547979,4702611,3798254,26663375,46421,2020-03-26 13:48:49.5897+00,Оформление,Узнать результаты приема,Резерв,False
521587,4708053,3801365,26640511,36631,2020-03-25 18:00:40.321042+00,Оформление,Узнать результаты приема,Резерв,False
513658,4713981,3723498,26692195,45441,2020-03-27 12:56:37.00819+00,Оформление,Узнать результаты приема,Резерв,False
...,...,...,...,...,...,...,...,...,...
272913,4863083,3863743,27100844,28155,2020-04-14 09:08:20.52884+00,Оформление,Узнать результаты приема,Резерв,False
517682,4863952,3885343,27067276,49315,2020-04-13 07:58:33.740577+00,Оформление,Узнать результаты приема,Резерв,False
543262,4866115,3885565,27029933,28703,2020-04-10 16:03:11.182998+00,Оформление,Узнать результаты приема,Резерв,False
333363,4866744,3825107,27102259,24910,2020-04-14 09:46:19.599896+00,Оформление,Узнать результаты приема,Резерв,False
473290,4868889,3885497,27102216,24910,2020-04-14 09:45:31.178043+00,Оформление,Узнать результаты приема,Резерв,False

In [60]:
df[df['id_applicant'] == 4863083]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
176438,4863083,3863743,-1,28155,2020-04-08 15:41:43.824925+00,Создание кандидата,NaN,NaN,False
272921,4863083,3863743,26964863,28155,2020-04-08 15:42:01.020952+00,Обработка,Провести первичную обработку,Подходит,False
272920,4863083,3863743,26964865,28155,2020-04-08 15:42:02.017458+00,Обработка,Проверка формы обращения,Не резерв,False
272919,4863083,3863743,26964866,28155,2020-04-08 15:42:03.489197+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
272918,4863083,3863743,26964867,28155,2020-04-08 15:42:04.505895+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
272917,4863083,3863743,26964869,28155,2020-04-08 15:42:05.773533+00,СБ,Подготовить анкету кандидата,Подготовлена,False
272915,4863083,3863743,26976526,28155,2020-04-09 08:42:03.433477+00,СБ,Узнать результаты СБ,Подходит,False
272916,4863083,3863743,26976527,28155,2020-04-09 08:42:04.533781+00,СБ,Проверка формы обращения,Не резерв,False
272914,4863083,3863743,26988585,28155,2020-04-09 12:41:35.03068+00,Оформление,Назначить время на оформление,Время назначено,False
272913,4863083,3863743,27100844,28155,2020-04-14 09:08:20.52884+00,Оформление,Узнать результаты приема,Резерв,False

In [99]:
le_masque = df['stage_name'] == 'Оформление'
le_masque &= df['activity_name'] == 'Предоставить обратную связь по кандидату'
df_inter_2 = df[le_masque]
df_inter_2['result_name'].unique()

array(['ОС не предоставлена руководителем',
       'ОС предоставлена руководителем', 'Отказ руководителя', nan,
       'Время назначено', 'Черный список', 'Перенос звонка',
       'Нет обратной связи от руководителя', 'Недозвон'], dtype=object)

5) СБ 

Активностей в 2018 снова больше

In [100]:
le_masque = df['stage_name'] == 'СБ'
df_inter = df[le_masque]
df_inter['activity_name'].unique()

array(['Подготовить анкету кандидата', 'Узнать результаты СБ',
       'Проверка формы обращения'], dtype=object)

In [101]:
le_masque = df['stage_name'] == 'СБ'
le_masque &= df['activity_name'] == 'Подготовить анкету кандидата'
df_inter_2 = df[le_masque]
df_inter_2['result_name'].unique()

array([nan, 'Подготовлена'], dtype=object)

In [102]:
le_masque = df['stage_name'] == 'СБ'
le_masque &= df['activity_name'] == 'Узнать результаты СБ'
df_inter_2 = df[le_masque]
df_inter_2['result_name'].unique()

array(['Подходит', nan, 'Подготовлена', 'Нет обратной связи',
       'Не подходит', 'Нет обратной связи от руководителя',
       'Уточнение данных', 'Недозвон'], dtype=object)

In [103]:
le_masque = df['stage_name'] == 'СБ'
le_masque &= df['activity_name'] == 'Проверка формы обращения'
df_inter_2 = df[le_masque]
df_inter_2['result_name'].unique()

array(['Не резерв', 'Подготовлена'], dtype=object)

6)Смена вакансии  

Ну хоть где-то аналог с 2018 XD

In [104]:
le_masque = df['stage_name'] == 'Смена вакансии'
df_inter = df[le_masque]
df_inter['activity_name'].unique()

array([nan], dtype=object)

7)Не прошел СБ

In [105]:
le_masque = df['stage_name'] == 'Не прошел СБ'
df_inter = df[le_masque]
df_inter['activity_name'].unique()

array(['Вывести из черного списка'], dtype=object)

In [106]:
le_masque = df['stage_name'] == 'Не прошел СБ'
le_masque &= df['activity_name'] == 'Вывести из черного списка'
df_inter_2 = df[le_masque]
df_inter_2['result_name'].unique()

array(['В белый список', nan], dtype=object)

8)Черный список

в 2018 на действие вывести из черного списка, есть 'в белый список'

In [107]:
le_masque = df['stage_name'] == 'Черный список'
df_inter = df[le_masque]
df_inter['activity_name'].unique()

array(['Вывести из черного списка'], dtype=object)

In [108]:
le_masque = df['stage_name'] == 'Черный список'
le_masque &= df['activity_name'] == 'Вывести из черного списка'
df_inter_2 = df[le_masque]
df_inter_2['result_name'].unique()

array([nan], dtype=object)

9)Отказался

In [109]:
le_masque = df['stage_name'] == 'Отказался'
df_inter = df[le_masque]
df_inter['activity_name'].unique()

array([nan], dtype=object)

10)Выход на работу

In [110]:
le_masque = df['stage_name'] == 'Выход на работу'
df_inter = df[le_masque]
df_inter['activity_name'].unique()

array([nan], dtype=object)

11)Мы отказали

In [111]:
le_masque = df['stage_name'] == 'Мы отказали'
df_inter = df[le_masque]
df_inter['activity_name'].unique()

array([nan], dtype=object)

12)Резерв

In [113]:
le_masque = df['stage_name'] == 'Резерв'
df_inter = df[le_masque]
df_inter['activity_name'].unique()

array([nan], dtype=object)

In [23]:
df[df['stage_name'] == 'Выход на работу']

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
224050,4766325,3831692,26633974,12851,2020-03-25 16:04:28.801607+00,Выход на работу,NaN,ОС не предоставлена руководителем,False
347713,4774194,3834589,26670473,11861,2020-03-26 16:05:12.305113+00,Выход на работу,NaN,ОС не предоставлена руководителем,False
702732,4777529,3836425,26695878,24580,2020-03-27 14:04:43.934427+00,Выход на работу,NaN,ОС не предоставлена руководителем,False
391881,4781823,3249120,26734464,49697,2020-03-30 14:06:07.150931+00,Выход на работу,NaN,ОС не предоставлена руководителем,False
253807,4782054,3569308,26741133,10240,2020-03-30 16:06:28.569118+00,Выход на работу,NaN,ОС не предоставлена руководителем,False
435413,4787577,2616264,26795295,8660,2020-04-01 16:03:43.044561+00,Выход на работу,NaN,ОС не предоставлена руководителем,False
282672,4792843,3845286,26734473,49358,2020-03-30 14:06:11.245439+00,Выход на работу,NaN,ОС не предоставлена руководителем,False
328836,4794055,3223422,26838564,9226,2020-04-03 14:05:28.405748+00,Выход на работу,NaN,ОС не предоставлена руководителем,False
316417,4796626,3847260,26692646,9564,2020-03-27 13:03:20.674972+00,Выход на работу,NaN,Отказ кандидата,False
648533,4807269,3833468,26761206,49376,2020-03-31 12:18:45.247006+00,Выход на работу,NaN,ОС не предоставлена руководителем,False
467951,4807907,3499595,26734475,34988,2020-03-30 14:06:12.131208+00,Выход на работу,NaN,ОС не предоставлена руководителем,False
604224,4813131,3855993,26844547,7636,2020-04-03 16:04:57.786699+00,Выход на работу,NaN,ОС не предоставлена руководителем,False
536344,4815525,3857156,26819219,12949,2020-04-02 16:04:58.794902+00,Выход на работу,NaN,ОС не предоставлена руководителем,False
582886,4815649,3674829,26821178,8347,2020-04-02 16:48:58.742691+00,Выход на работу,NaN,Недозвон,False
231380,4817187,3857932,26819294,7359,2020-04-02 16:05:27.140481+00,Выход на работу,NaN,ОС не предоставлена руководителем,False
414091,4817687,3827588,26899388,12807,2020-04-06 16:08:57.265678+00,Выход на работу,NaN,ОС не предоставлена руководителем,False
346237,4818196,1968073,26932841,7815,2020-04-07 16:05:11.509376+00,Выход на работу,NaN,Отказ кандидата,False
261140,4824789,3861710,26844550,30408,2020-04-03 16:04:59.101285+00,Выход на работу,NaN,ОС не предоставлена руководителем,False
596909,4835740,1155931,26899218,28905,2020-04-06 16:07:47.537347+00,Выход на работу,NaN,ОС не предоставлена руководителем,False

In [24]:
df[df['id_applicant'] == 4886562]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
185645,4886562,3897208,-1,9810,2020-04-14 11:04:30.146166+00,Создание кандидата,NaN,NaN,False
504087,4886562,3897208,27105797,9810,2020-04-14 11:04:58.399705+00,Обработка,Провести первичную обработку,Подходит,False
504086,4886562,3897208,27105799,9810,2020-04-14 11:04:59.117262+00,Обработка,Проверка формы обращения,Не резерв,False
504085,4886562,3897208,27105872,9810,2020-04-14 11:06:39.440117+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
734757,4886562,3897208,-1,9810,2020-04-23 16:26:11.80918+00,Интервью с руководителем,Узнать результаты интервью с руководителем,NaN,True

In [138]:
le_masque = df['stage_name'] == 'Обработка'
le_masque &= df['activity_name'] == 'Проверка формы обращения'

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
141051,4461761,3666193,-1,48941,2020-01-03 08:03:40.219194+00,Создание кандидата,NaN,NaN,False
131357,4461766,939413,-1,45528,2020-01-03 08:07:37.207249+00,Создание кандидата,NaN,NaN,False
89639,4461768,3666195,-1,17179,2020-01-03 08:09:56.331841+00,Создание кандидата,NaN,NaN,False
104509,4461773,3666202,-1,48935,2020-01-03 08:14:27.343217+00,Создание кандидата,NaN,NaN,False
106577,4461774,666213,-1,48834,2020-01-03 08:15:05.173052+00,Создание кандидата,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...
448347,4886615,1040329,27106030,27473,2020-04-14 11:09:14.324975+00,СБ,Подготовить анкету кандидата,Подготовлена,False
448348,4886615,1040329,27106031,27473,2020-04-14 11:09:15.338565+00,СБ,Узнать результаты СБ,Подходит,False
448349,4886615,1040329,27106032,27473,2020-04-14 11:09:16.725966+00,СБ,Проверка формы обращения,Не резерв,False
448350,4886615,1040329,27106033,27473,2020-04-14 11:09:18.335061+00,Оформление,Назначить время на оформление,Время назначено,False
448342,4886615,1040329,27106034,27473,2020-04-14 11:09:23.49207+00,Оформление,Узнать результаты приема,Принят,False

In [139]:
le_masque = df['stage_name'] == 'Интервью с руководителем'
le_masque &= df['activity_name'] == 'Назначить интервью с руководителем'
df_inter_2 = df[le_masque]
df_inter_2

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
225537,4462581,3666663,24561876,7900,2020-01-03 14:14:28.079142+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
556877,4511292,3443806,24824763,9459,2020-01-17 12:36:57.995599+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
675650,4514041,3748396,24843053,45475,2020-01-17 17:34:57.578548+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
657910,4519604,3517789,24875475,45475,2020-01-20 13:17:18.562333+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
344185,4530625,3606511,24942619,45475,2020-01-22 11:45:42.113282+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
...,...,...,...,...,...,...,...,...,...
680433,4886599,3884467,27105952,48259,2020-04-14 11:08:02.702358+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
333624,4886600,3894562,27105972,32899,2020-04-14 11:08:15.783338+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
662017,4886612,3897226,27106018,32875,2020-04-14 11:09:05.963154+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
448339,4886613,3895670,27106010,8377,2020-04-14 11:08:58.217121+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
448345,4886615,1040329,27106025,27473,2020-04-14 11:09:11.898599+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False

In [144]:
le_masque = df['stage_name'] == 'Интервью с руководителем'
le_masque &= df['activity_name'] == 'Узнать результаты интервью с руководителем'
le_masque &= df['result_name'] == 'Нет обратной связи от руководителя'
df_inter_2 = df[le_masque]
df_inter_2

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
344187,4530625,3606511,25006183,45475,2020-01-24 09:13:54.389251+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи от руководителя,False
251977,4674757,3783641,25822315,45475,2020-02-21 16:50:06.087536+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи от руководителя,False
279997,4684013,3557504,25918823,45475,2020-02-27 10:44:59.622801+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи от руководителя,False
373355,4702635,1039534,25973649,30091,2020-02-28 16:50:57.914335+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи от руководителя,False
295580,4711442,3778531,27038063,48844,2020-04-11 08:47:45.858695+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи от руководителя,False
...,...,...,...,...,...,...,...,...,...
534445,4883125,3873723,27087026,12130,2020-04-13 15:14:18.452932+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи от руководителя,False
252739,4883729,3731584,27091381,12923,2020-04-13 16:14:38.436366+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи от руководителя,False
229255,4883818,1130971,27092119,36052,2020-04-13 16:23:24.956784+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи от руководителя,False
542573,4885948,3896833,27102987,7911,2020-04-14 10:05:02.385063+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи от руководителя,False
367057,4886265,2851233,27105270,12774,2020-04-14 10:56:49.01287+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи от руководителя,False

In [145]:
df[df['id_applicant'] == 4674757]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
114964,4674757,3783641,-1,45475,2020-02-21 11:28:42.19067+00,Создание кандидата,NaN,NaN,False
251974,4674757,3783641,25803387,45475,2020-02-21 11:28:52.115234+00,Обработка,Провести первичную обработку,Подходит,False
251975,4674757,3783641,25803389,45475,2020-02-21 11:28:52.725013+00,Обработка,Проверка формы обращения,Не резерв,False
251976,4674757,3783641,25803417,45475,2020-02-21 11:29:04.04067+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
251977,4674757,3783641,25822315,45475,2020-02-21 16:50:06.087536+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи от руководителя,False
251978,4674757,3783641,26022837,45475,2020-03-02 18:47:51.500535+00,Интервью с руководителем,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем,False
251979,4674757,3783641,26054236,45475,2020-03-03 16:11:26.338432+00,Интервью с руководителем,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем,False
251980,4674757,3783641,26054237,45475,2020-03-03 16:11:27.082485+00,Интервью с руководителем,Предоставить обратную связь по кандидату,Отказ руководителя,False

In [149]:
le_masque = df['stage_name'] == 'СБ'
le_masque &= df['activity_name'] == 'Узнать результаты СБ'
le_masque &= df['result_name'] == 'Уточнение данных'
df_inter_2 = df[le_masque]
df_inter_2

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
339182,4818604,3858536,26716712,33655,2020-03-29 17:03:27.745011+00,СБ,Узнать результаты СБ,Уточнение данных,False
353875,4818823,3736122,26717163,11681,2020-03-29 19:02:28.101723+00,СБ,Узнать результаты СБ,Уточнение данных,False
486992,4833478,3866683,26865488,31822,2020-04-04 17:30:35.803123+00,СБ,Узнать результаты СБ,Уточнение данных,False
528157,4836074,3868316,26865404,44264,2020-04-04 17:08:40.631774+00,СБ,Узнать результаты СБ,Уточнение данных,False
370507,4838871,3870130,26865073,19048,2020-04-04 16:28:32.180728+00,СБ,Узнать результаты СБ,Уточнение данных,False
310565,4843087,3139860,26865464,12806,2020-04-04 17:23:35.678746+00,СБ,Узнать результаты СБ,Уточнение данных,False
531604,4843098,3873041,26865484,17883,2020-04-04 17:28:16.871747+00,СБ,Узнать результаты СБ,Уточнение данных,False
606621,4843383,3873182,26865270,9408,2020-04-04 16:48:06.340414+00,СБ,Узнать результаты СБ,Уточнение данных,False
452476,4844212,3873656,26865380,25672,2020-04-04 17:04:24.531701+00,СБ,Узнать результаты СБ,Уточнение данных,False
313951,4860343,3883303,27006381,11161,2020-04-09 18:42:37.186445+00,СБ,Узнать результаты СБ,Уточнение данных,False
611412,4868081,2827850,27005359,35794,2020-04-09 17:47:16.96903+00,СБ,Узнать результаты СБ,Уточнение данных,False
431600,4868227,3887809,27005394,28170,2020-04-09 17:48:23.667872+00,СБ,Узнать результаты СБ,Уточнение данных,False
334108,4868303,3887859,27005755,9365,2020-04-09 18:02:52.386975+00,СБ,Узнать результаты СБ,Уточнение данных,False
473888,4868799,3870299,27010593,10024,2020-04-10 08:26:23.126721+00,СБ,Узнать результаты СБ,Уточнение данных,False
339057,4869548,3887033,27008949,18117,2020-04-10 07:58:51.860112+00,СБ,Узнать результаты СБ,Уточнение данных,False
629426,4869752,3888631,27010234,45311,2020-04-10 08:14:49.401173+00,СБ,Узнать результаты СБ,Уточнение данных,False
255894,4870073,3878517,27010373,24099,2020-04-10 08:19:37.293054+00,СБ,Узнать результаты СБ,Уточнение данных,False
540405,4870266,2411416,27011047,22600,2020-04-10 08:43:34.015503+00,СБ,Узнать результаты СБ,Уточнение данных,False
303633,4870269,3888935,27011362,9860,2020-04-10 08:53:36.618497+00,СБ,Узнать результаты СБ,Уточнение данных,False
264628,4870315,3888956,27011176,7692,2020-04-10 08:47:28.498003+00,СБ,Узнать результаты СБ,Уточнение данных,False
533217,4870324,2327723,27011354,8459,2020-04-10 08:53:19.879294+00,СБ,Узнать результаты СБ,Уточнение данных,False
469347,4877389,3887590,27062057,24910,2020-04-12 12:41:41.696607+00,СБ,Узнать результаты СБ,Уточнение данных,False

In [150]:
df[df['id_applicant'] == 4818604]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
36069,4818604,3858536,-1,33655,2020-03-28 10:48:51.837686+00,Создание кандидата,NaN,NaN,False
339187,4818604,3858536,26708225,33655,2020-03-28 10:49:09.138742+00,Обработка,Провести первичную обработку,Подходит,False
339186,4818604,3858536,26708226,33655,2020-03-28 10:49:09.999494+00,Обработка,Проверка формы обращения,Не резерв,False
339185,4818604,3858536,26708227,33655,2020-03-28 10:49:10.946363+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
339184,4818604,3858536,26708228,33655,2020-03-28 10:49:11.751098+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
339183,4818604,3858536,26708229,33655,2020-03-28 10:49:12.590376+00,СБ,Подготовить анкету кандидата,Подготовлена,False
339182,4818604,3858536,26716712,33655,2020-03-29 17:03:27.745011+00,СБ,Узнать результаты СБ,Уточнение данных,False
339180,4818604,3858536,26724709,33655,2020-03-30 10:50:40.83345+00,СБ,Узнать результаты СБ,Подходит,False
339181,4818604,3858536,26724710,33655,2020-03-30 10:50:41.82572+00,СБ,Проверка формы обращения,Не резерв,False
339179,4818604,3858536,26751602,33655,2020-03-31 09:34:38.489747+00,Оформление,Назначить время на оформление,Недозвон,False
339178,4818604,3858536,26776249,33655,2020-03-31 17:47:45.356119+00,Оформление,Назначить время на оформление,Недозвон,False
339177,4818604,3858536,26930227,33655,2020-04-07 15:19:05.845773+00,Оформление,Назначить время на оформление,Отказ кандидата,False

In [18]:
le_masque = df['stage_name'] == 'Оформление'
le_masque &= df['activity_name'] == 'Узнать результаты приема'
le_masque &= df['result_name'] == 'Недозвон'
df_inter_2 = df[le_masque]
df_inter_2

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
541938,4575640,3730545,26874208,8830,2020-04-05 14:58:42.220115+00,Оформление,Узнать результаты приема,Недозвон,False
541937,4575640,3730545,27052062,8830,2020-04-11 14:53:26.592515+00,Оформление,Узнать результаты приема,Недозвон,False
267843,4592572,2542953,26648413,12874,2020-03-26 09:56:44.744951+00,Оформление,Узнать результаты приема,Недозвон,False
267840,4592572,2542953,26753895,12874,2020-03-31 10:10:14.26166+00,Оформление,Узнать результаты приема,Недозвон,False
227695,4604656,3746737,25505303,35922,2020-02-11 17:27:47.510095+00,Оформление,Узнать результаты приема,Недозвон,False
...,...,...,...,...,...,...,...,...,...
427440,4864776,3885831,27040392,11761,2020-04-11 09:34:19.189241+00,Оформление,Узнать результаты приема,Недозвон,False
360535,4864842,3885861,27039292,44188,2020-04-11 09:13:05.609699+00,Оформление,Узнать результаты приема,Недозвон,False
311907,4865015,3884544,27039932,10215,2020-04-11 09:25:38.209296+00,Оформление,Узнать результаты приема,Недозвон,False
335907,4867427,3884187,27039497,10016,2020-04-11 09:16:48.366575+00,Оформление,Узнать результаты приема,Недозвон,False
298316,4868960,3878555,27039469,9236,2020-04-11 09:16:23.81449+00,Оформление,Узнать результаты приема,Недозвон,False

In [11]:
df[df['id_applicant'] == 4864612]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
188455,4864612,3775478,-1,19086,2020-04-09 06:24:46.915806+00,Создание кандидата,NaN,NaN,False
567121,4864612,3775478,26973540,19086,2020-04-09 06:25:04.887712+00,Обработка,Провести первичную обработку,Подходит,False
567120,4864612,3775478,26973541,19086,2020-04-09 06:25:16.178958+00,Обработка,Проверка формы обращения,Не резерв,False
567119,4864612,3775478,26973542,19086,2020-04-09 06:25:17.411706+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
567118,4864612,3775478,26973543,19086,2020-04-09 06:25:18.381716+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
567117,4864612,3775478,26973544,19086,2020-04-09 06:25:19.31723+00,СБ,Подготовить анкету кандидата,Подготовлена,False
567111,4864612,3775478,26979416,19086,2020-04-09 09:54:55.097685+00,СБ,Узнать результаты СБ,Подходит,False
567112,4864612,3775478,26979417,19086,2020-04-09 09:54:55.903178+00,СБ,Проверка формы обращения,Не резерв,False
567110,4864612,3775478,27003325,19086,2020-04-09 16:54:35.727119+00,Оформление,Назначить время на оформление,Недозвон,False
567109,4864612,3775478,27020532,19086,2020-04-10 12:23:19.203425+00,Оформление,Назначить время на оформление,Время назначено,False
567108,4864612,3775478,27020536,19086,2020-04-10 12:23:22.039144+00,Оформление,Узнать результаты приема,Нет обратной связи от руководителя,False
567107,4864612,3775478,27020752,19086,2020-04-10 12:29:29.000446+00,Оформление,Предоставить обратную связь по кандидату,Недозвон,False
567106,4864612,3775478,27032914,19086,2020-04-10 16:56:30.50063+00,Оформление,Назначить время на оформление,Недозвон,False
567105,4864612,3775478,27039481,19086,2020-04-11 09:16:39.629213+00,Оформление,Назначить время на оформление,Недозвон,False
567104,4864612,3775478,27073069,19086,2020-04-13 10:41:44.141844+00,Оформление,Назначить время на оформление,Время назначено,False
567103,4864612,3775478,27073077,19086,2020-04-13 10:41:54.126837+00,Оформление,Узнать результаты приема,Принят,False

In [20]:
df[df['id_applicant'] == 4575640]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
105446,4575640,3730545,-1,8830,2020-01-31 10:43:31.238161+00,Создание кандидата,NaN,NaN,False
541938,4575640,3730545,26874208,8830,2020-04-05 14:58:42.220115+00,Оформление,Узнать результаты приема,Недозвон,False
541937,4575640,3730545,27052062,8830,2020-04-11 14:53:26.592515+00,Оформление,Узнать результаты приема,Недозвон,False
720249,4575640,3730545,-1,8830,2020-04-23 16:26:11.80918+00,Оформление,Узнать результаты приема,NaN,True

In [24]:
df[df['id_applicant'] == 4865015]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
74660,4865015,3884544,-1,10215,2020-04-09 09:00:32.440282+00,Создание кандидата,NaN,NaN,False
311915,4865015,3884544,26977157,10215,2020-04-09 09:00:50.843222+00,Обработка,Провести первичную обработку,Подходит,False
311914,4865015,3884544,26977158,10215,2020-04-09 09:00:51.917019+00,Обработка,Проверка формы обращения,Не резерв,False
311913,4865015,3884544,26977159,10215,2020-04-09 09:00:53.106726+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
311912,4865015,3884544,26977160,10215,2020-04-09 09:00:54.166216+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
311911,4865015,3884544,26977161,10215,2020-04-09 09:00:55.364004+00,СБ,Подготовить анкету кандидата,Подготовлена,False
311909,4865015,3884544,26982798,10215,2020-04-09 11:02:10.678648+00,СБ,Узнать результаты СБ,Подходит,False
311910,4865015,3884544,26982802,10215,2020-04-09 11:02:11.994974+00,СБ,Проверка формы обращения,Не резерв,False
311908,4865015,3884544,27014265,10215,2020-04-10 10:11:09.067965+00,Оформление,Назначить время на оформление,Время назначено,False
311907,4865015,3884544,27039932,10215,2020-04-11 09:25:38.209296+00,Оформление,Узнать результаты приема,Недозвон,False
714006,4865015,3884544,-1,10215,2020-04-23 16:26:11.80918+00,Оформление,Узнать результаты приема,NaN,True

In [25]:
le_masque = df['stage_name'] == 'Создание кандидата'
df_create = df[le_masque]
df_create

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
141051,4461761,3666193,-1,48941,2020-01-03 08:03:40.219194+00,Создание кандидата,NaN,NaN,False
131357,4461766,939413,-1,45528,2020-01-03 08:07:37.207249+00,Создание кандидата,NaN,NaN,False
89639,4461768,3666195,-1,17179,2020-01-03 08:09:56.331841+00,Создание кандидата,NaN,NaN,False
104509,4461773,3666202,-1,48935,2020-01-03 08:14:27.343217+00,Создание кандидата,NaN,NaN,False
106577,4461774,666213,-1,48834,2020-01-03 08:15:05.173052+00,Создание кандидата,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...
185785,4886609,3897218,-1,8783,2020-04-14 11:08:27.630861+00,Создание кандидата,NaN,NaN,False
185790,4886610,3897231,-1,30523,2020-04-14 11:08:31.918849+00,Создание кандидата,NaN,NaN,False
185798,4886612,3897226,-1,32875,2020-04-14 11:08:32.457218+00,Создание кандидата,NaN,NaN,False
185795,4886613,3895670,-1,8377,2020-04-14 11:08:35.586032+00,Создание кандидата,NaN,NaN,False
185809,4886615,1040329,-1,27473,2020-04-14 11:08:56.073512+00,Создание кандидата,NaN,NaN,False

In [26]:
df[df['id_applicant'] == 4461766]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
131357,4461766,939413,-1,45528,2020-01-03 08:07:37.207249+00,Создание кандидата,NaN,NaN,False

In [29]:
 le_masque = df['stage_name'] == 'Оформление'
le_masque &= df['activity_name'] == 'Узнать результаты приема'
le_masque &= df['result_name'] == 'Перенос руководителя'
df_inter_2 = df[le_masque]
df_inter_2

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
554206,4736683,3816330,26478509,28625,2020-03-19 15:35:57.309938+00,Оформление,Узнать результаты приема,Перенос руководителя,False
386983,4766539,3809013,26591075,49446,2020-03-24 14:31:33.352699+00,Оформление,Узнать результаты приема,Перенос руководителя,False
561701,4782990,3840327,26715960,8601,2020-03-29 15:37:08.939093+00,Оформление,Узнать результаты приема,Перенос руководителя,False
237414,4793377,3845560,26640018,49434,2020-03-25 17:50:14.993359+00,Оформление,Узнать результаты приема,Перенос руководителя,False
363866,4795360,1355898,26646421,35221,2020-03-26 09:29:50.403451+00,Оформление,Узнать результаты приема,Перенос руководителя,False
397040,4795792,3753303,26645815,9058,2020-03-26 09:20:38.9392+00,Оформление,Узнать результаты приема,Перенос руководителя,False
412362,4797037,3844686,26645592,30514,2020-03-26 09:16:44.445081+00,Оформление,Узнать результаты приема,Перенос руководителя,False
476473,4797520,3846134,26751236,7196,2020-03-31 09:25:24.226461+00,Оформление,Узнать результаты приема,Перенос руководителя,False
680342,4807141,3642195,26750877,9026,2020-03-31 09:17:29.180973+00,Оформление,Узнать результаты приема,Перенос руководителя,False
670472,4813980,3774343,26761869,35339,2020-03-31 12:29:16.287355+00,Оформление,Узнать результаты приема,Перенос руководителя,False
410586,4819379,3858925,26891279,48377,2020-04-06 13:51:56.672969+00,Оформление,Узнать результаты приема,Перенос руководителя,False
669059,4819810,2323880,26860388,29564,2020-04-04 12:59:03.129406+00,Оформление,Узнать результаты приема,Перенос руководителя,False
630362,4828267,3863610,27052049,24087,2020-04-11 14:52:31.711656+00,Оформление,Узнать результаты приема,Перенос руководителя,False
627549,4832290,3821879,26882917,8047,2020-04-06 11:01:42.383796+00,Оформление,Узнать результаты приема,Перенос руководителя,False
697773,4832982,1615603,26836122,12561,2020-04-03 13:12:31.103935+00,Оформление,Узнать результаты приема,Перенос руководителя,False
255079,4838270,3869713,27049063,12561,2020-04-11 12:41:27.713587+00,Оформление,Узнать результаты приема,Перенос руководителя,False
234254,4839550,3870635,27050013,11931,2020-04-11 13:20:20.937441+00,Оформление,Узнать результаты приема,Перенос руководителя,False
394644,4845726,3874527,27037366,30079,2020-04-11 08:32:07.196534+00,Оформление,Узнать результаты приема,Перенос руководителя,False
507451,4846550,3617833,27037001,10143,2020-04-11 08:21:17.73455+00,Оформление,Узнать результаты приема,Перенос руководителя,False
390487,4850171,3819888,27037219,12343,2020-04-11 08:28:41.152499+00,Оформление,Узнать результаты приема,Перенос руководителя,False
461728,4853005,3879086,27039066,11371,2020-04-11 09:08:55.80597+00,Оформление,Узнать результаты приема,Перенос руководителя,False
383903,4860046,3883147,27040616,36650,2020-04-11 09:38:40.832031+00,Оформление,Узнать результаты приема,Перенос руководителя,False

In [30]:
df[df['id_applicant'] == 4736683]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
173987,4736683,3816330,-1,28625,2020-03-09 12:15:49.026107+00,Создание кандидата,NaN,NaN,False
554202,4736683,3816330,26181387,28625,2020-03-09 12:15:59.272549+00,Обработка,Провести первичную обработку,Подходит,False
554218,4736683,3816330,26181388,28625,2020-03-09 12:16:00.240229+00,Обработка,Проверка формы обращения,Не резерв,False
554217,4736683,3816330,26181390,28625,2020-03-09 12:16:01.48788+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
554216,4736683,3816330,26181392,28625,2020-03-09 12:16:02.467087+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
554215,4736683,3816330,26181394,28625,2020-03-09 12:16:03.405343+00,СБ,Узнать результаты СБ,Подготовлена,False
554214,4736683,3816330,26186670,28625,2020-03-10 07:38:54.351663+00,СБ,Узнать результаты СБ,Подходит,False
554213,4736683,3816330,26186671,28625,2020-03-10 07:38:55.482559+00,СБ,Проверка формы обращения,Не резерв,False
554212,4736683,3816330,26192374,28625,2020-03-10 10:16:56.15831+00,Оформление,Назначить время на оформление,Время назначено,False
554211,4736683,3816330,26255141,28625,2020-03-11 17:27:04.442381+00,Оформление,Узнать результаты приема,Перенос звонка,False
554210,4736683,3816330,26407940,28625,2020-03-17 17:00:50.282477+00,Оформление,Узнать результаты приема,Недозвон,False
554209,4736683,3816330,26432113,28625,2020-03-18 13:30:14.375823+00,Оформление,Узнать результаты приема,Нет обратной связи от руководителя,False
554208,4736683,3816330,26462709,28625,2020-03-19 11:01:54.220766+00,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем,False
554207,4736683,3816330,26478469,28625,2020-03-19 15:35:02.8642+00,Оформление,Предоставить обратную связь по кандидату,ОС предоставлена руководителем,False
554206,4736683,3816330,26478509,28625,2020-03-19 15:35:57.309938+00,Оформление,Узнать результаты приема,Перенос руководителя,False
554205,4736683,3816330,26478522,28625,2020-03-19 15:36:16.379002+00,Оформление,Назначить время на оформление,Время назначено,False
554204,4736683,3816330,26698740,28625,2020-03-27 14:57:39.69534+00,Оформление,Узнать результаты приема,Недозвон,False
554203,4736683,3816330,27085670,28625,2020-04-13 14:47:24+00,Смена вакансии,NaN,NaN,False

In [31]:
le_masque = df['stage_name'] == 'Резерв'
df_inter = df[le_masque]
df_inter

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
455144,4811306,3851700,26653489,9315,2020-03-26 11:06:29.278775+00,Резерв,NaN,Недозвон,False
692513,4821720,3816341,26770178,31081,2020-03-31 15:18:15.057586+00,Резерв,NaN,Недозвон,False

In [32]:
df[df['id_applicant'] == 4811306]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
137589,4811306,3851700,-1,9315,2020-03-26 11:05:47.832555+00,Создание кандидата,NaN,NaN,False
455145,4811306,3851700,26653458,9315,2020-03-26 11:06:02.991251+00,Обработка,Провести первичную обработку,Резерв,False
455144,4811306,3851700,26653489,9315,2020-03-26 11:06:29.278775+00,Резерв,NaN,Недозвон,False
455143,4811306,3851700,26675362,9315,2020-03-26 17:30:12.146541+00,Обработка,Провести первичную обработку,Недозвон,False
455142,4811306,3851700,26683966,9315,2020-03-27 10:28:00.420854+00,Обработка,Провести первичную обработку,Не подходит,False

In [33]:
df[df['id_applicant'] == 4821720]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
185289,4821720,3816341,-1,31081,2020-03-30 11:59:10.007571+00,Создание кандидата,NaN,NaN,False
692518,4821720,3816341,26727536,31081,2020-03-30 11:59:34.778399+00,Обработка,Провести первичную обработку,Подходит,False
692517,4821720,3816341,26727538,31081,2020-03-30 11:59:35.835603+00,Обработка,Проверка формы обращения,Не резерв,False
692516,4821720,3816341,26727540,31081,2020-03-30 11:59:37.173021+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
692515,4821720,3816341,26727561,31081,2020-03-30 12:00:01.564939+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Перенос звонка,False
692514,4821720,3816341,26770168,31081,2020-03-31 15:17:46.330663+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Резерв,False
692513,4821720,3816341,26770178,31081,2020-03-31 15:18:15.057586+00,Резерв,NaN,Недозвон,False
692512,4821720,3816341,27066122,31081,2020-04-12 17:58:28.544617+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Недозвон,False
734528,4821720,3816341,-1,31081,2020-04-23 16:26:11.80918+00,Интервью с руководителем,Узнать результаты интервью с руководителем,NaN,True

In [34]:
le_masque = df['result_name'] == 'Резерв'
df_inter = df[le_masque]
df_inter

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
632257,4510003,3681386,26775959,49293,2020-03-31 17:39:08.670998+00,Оформление,Назначить время на оформление,Резерв,False
549361,4594718,3741282,26858556,7900,2020-04-04 11:54:39.55511+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Резерв,False
470570,4651327,3351429,26646283,47657,2020-03-26 09:27:30.045911+00,Оформление,Узнать результаты приема,Резерв,False
679781,4657249,3769689,26874282,7900,2020-04-05 15:07:00.388759+00,Интервью с руководителем,Назначить интервью с руководителем,Резерв,False
240167,4660106,3776481,26758994,36834,2020-03-31 11:41:34.515943+00,Обработка,Провести первичную обработку,Резерв,False
...,...,...,...,...,...,...,...,...,...
482356,4886279,3897039,27104306,30425,2020-04-14 10:36:45.098502+00,Обработка,Провести первичную обработку,Резерв,False
245849,4886282,3897038,27104338,10594,2020-04-14 10:37:29.505589+00,Обработка,Провести первичную обработку,Резерв,False
511633,4886362,3877870,27104721,11524,2020-04-14 10:46:34.932998+00,Интервью с руководителем,Назначить интервью с руководителем,Резерв,False
242866,4886405,1468721,27104981,17260,2020-04-14 10:52:03.473869+00,Интервью с руководителем,Назначить интервью с руководителем,Резерв,False
658881,4886555,3897193,27105762,11949,2020-04-14 11:04:20.186856+00,Интервью с руководителем,Назначить интервью с руководителем,Резерв,False

In [35]:
df[df['id_applicant'] == 4510003]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
100489,4510003,3681386,-1,49293,2020-01-17 10:47:13.546822+00,Создание кандидата,NaN,NaN,False
632258,4510003,3681386,26774508,49293,2020-03-31 16:57:10.495672+00,Оформление,Назначить время на оформление,Недозвон,False
632257,4510003,3681386,26775959,49293,2020-03-31 17:39:08.670998+00,Оформление,Назначить время на оформление,Резерв,False

In [36]:
df[df['id_applicant'] == 4651327]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
3894,4651327,3351429,-1,47657,2020-02-17 13:23:45.605838+00,Создание кандидата,NaN,NaN,False
470571,4651327,3351429,26646152,47657,2020-03-26 09:25:39.780322+00,Оформление,Узнать результаты приема,Недозвон,False
470570,4651327,3351429,26646283,47657,2020-03-26 09:27:30.045911+00,Оформление,Узнать результаты приема,Резерв,False

In [37]:
df[df['id_applicant'] == 4886405]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
184461,4886405,1468721,-1,17260,2020-04-14 10:50:38.112071+00,Создание кандидата,NaN,NaN,False
242868,4886405,1468721,27104925,17260,2020-04-14 10:50:58.736968+00,Обработка,Провести первичную обработку,Подходит,False
242867,4886405,1468721,27104927,17260,2020-04-14 10:50:59.562503+00,Обработка,Проверка формы обращения,Не резерв,False
242866,4886405,1468721,27104981,17260,2020-04-14 10:52:03.473869+00,Интервью с руководителем,Назначить интервью с руководителем,Резерв,False

In [38]:
df[df['id_applicant'] == 4886362]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
183899,4886362,3877870,-1,11524,2020-04-14 10:45:57.620826+00,Создание кандидата,NaN,NaN,False
511635,4886362,3877870,27104701,11524,2020-04-14 10:46:20.791037+00,Обработка,Провести первичную обработку,Подходит,False
511634,4886362,3877870,27104702,11524,2020-04-14 10:46:21.660065+00,Обработка,Проверка формы обращения,Не резерв,False
511633,4886362,3877870,27104721,11524,2020-04-14 10:46:34.932998+00,Интервью с руководителем,Назначить интервью с руководителем,Резерв,False

In [39]:
df[df['id_applicant'] == 4886282]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
183201,4886282,3897038,-1,10594,2020-04-14 10:36:46.005774+00,Создание кандидата,NaN,NaN,False
245849,4886282,3897038,27104338,10594,2020-04-14 10:37:29.505589+00,Обработка,Провести первичную обработку,Резерв,False

In [41]:
le_masque = df['stage_name'] == 'Интервью с руководителем'
le_masque &= df['activity_name'] == 'Узнать результаты интервью с руководителем'
le_masque &= df['result_name'] == 'Уточнение данных'
df_inter = df[le_masque]
df_inter

Empty DataFrame
Columns: [id_applicant, id_partner, id_log, department_id, action_date, stage_name, activity_name, result_name, is_open_action]
Index: []

In [42]:
le_masque = df['stage_name'] == 'СБ'
le_masque &= df['activity_name'] == 'Узнать результаты СБ'
le_masque &= df['result_name'] == 'Нет обратной связи от руководителя'
df_inter_2 = df[le_masque]
df_inter_2

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
533406,4813311,3162888,26702565,6747,2020-03-27 16:14:54.778766+00,СБ,Узнать результаты СБ,Нет обратной связи от руководителя,False

In [43]:
df[df['id_applicant'] == 4813311]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
81500,4813311,3162888,-1,6747,2020-03-26 15:07:36.832394+00,Создание кандидата,NaN,NaN,False
533411,4813311,3162888,26667535,6747,2020-03-26 15:07:58.292748+00,Обработка,Провести первичную обработку,Подходит,False
533410,4813311,3162888,26667538,6747,2020-03-26 15:07:58.996536+00,Обработка,Проверка формы обращения,Не резерв,False
533409,4813311,3162888,26667547,6747,2020-03-26 15:08:24.510157+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
533408,4813311,3162888,26702440,6747,2020-03-27 16:11:42.123861+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
533407,4813311,3162888,26702441,6747,2020-03-27 16:11:45.621425+00,СБ,Подготовить анкету кандидата,Подготовлена,False
533406,4813311,3162888,26702565,6747,2020-03-27 16:14:54.778766+00,СБ,Узнать результаты СБ,Нет обратной связи от руководителя,False
533405,4813311,3162888,26717371,6747,2020-03-29 19:40:04.54348+00,Интервью с руководителем,Предоставить обратную связь по кандидату,ОС предоставлена руководителем,False
533403,4813311,3162888,26717380,6747,2020-03-29 19:41:05.118578+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
533404,4813311,3162888,26717381,6747,2020-03-29 19:41:05.942166+00,СБ,Подготовить анкету кандидата,Подготовлена,False
533402,4813311,3162888,26717385,6747,2020-03-29 19:41:53.466579+00,СБ,Узнать результаты СБ,Подходит,False
533401,4813311,3162888,26717386,6747,2020-03-29 19:41:54.588247+00,СБ,Проверка формы обращения,Не резерв,False
533400,4813311,3162888,26736301,6747,2020-03-30 14:40:31.963767+00,Оформление,Назначить время на оформление,Недозвон,False
533399,4813311,3162888,26767464,6747,2020-03-31 14:13:43.030028+00,Оформление,Назначить время на оформление,Недозвон,False
533398,4813311,3162888,26797562,6747,2020-04-01 17:17:08.955155+00,Оформление,Назначить время на оформление,Отказ кандидата,False

In [44]:
df['result_name'].value_counts()

Подходит                              77596
Не резерв                             59797
Встреча назначена                     44395
Недозвон                              34221
ОС не предоставлена руководителем     27677
Подготовлена                          17763
Отказ кандидата                       12811
Время назначено                       12255
Перенос звонка                        11939
Не подходит                           10163
Принят                                 7043
Нет обратной связи от руководителя     6053
Резерв                                 3771
ОС предоставлена руководителем         3319
Перенос кандидата                      3188
Отказ руководителя                     2786
В белый список                         2381
Нет обратной связи                      339
Не принят                                71
Перенос руководителя                     25
Уточнение данных                         22
Черный список                            13
Name: result_name, dtype: int64

In [8]:
le_masque = df['stage_name'] == 'Интервью с руководителем'
le_masque &= df['activity_name'] == 'Узнать результаты интервью с руководителем'
df_inter_2 = df[le_masque]
df_inter_2

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
225538,4462581,3666663,24561878,7900,2020-01-03 14:14:45.796916+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Перенос звонка,False
225539,4462581,3666663,24579911,7900,2020-01-09 08:54:56.929055+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Недозвон,False
225540,4462581,3666663,24591823,7900,2020-01-09 12:57:33.405277+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Недозвон,False
225543,4462581,3666663,26824011,7900,2020-04-02 19:08:53.357573+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
722223,4465122,3362975,-1,27595,2020-04-23 16:26:11.80918+00,Интервью с руководителем,Узнать результаты интервью с руководителем,NaN,True
...,...,...,...,...,...,...,...,...,...
680434,4886599,3884467,27105954,48259,2020-04-14 11:08:04.490147+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
734807,4886600,3894562,-1,32899,2020-04-23 16:26:11.80918+00,Интервью с руководителем,Узнать результаты интервью с руководителем,NaN,True
662018,4886612,3897226,27106019,32875,2020-04-14 11:09:07.214624+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
734841,4886613,3895670,-1,8377,2020-04-23 16:26:11.80918+00,Интервью с руководителем,Узнать результаты интервью с руководителем,NaN,True
448346,4886615,1040329,27106027,27473,2020-04-14 11:09:13.09146+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False

In [9]:
df[df['id_applicant'] == 4462581]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
52179,4462581,3666663,-1,7900,2020-01-03 14:14:04.317914+00,Создание кандидата,NaN,NaN,False
225535,4462581,3666663,24561874,7900,2020-01-03 14:14:26.995359+00,Обработка,Провести первичную обработку,Подходит,False
225536,4462581,3666663,24561875,7900,2020-01-03 14:14:27.527006+00,Обработка,Проверка формы обращения,Не резерв,False
225537,4462581,3666663,24561876,7900,2020-01-03 14:14:28.079142+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
225538,4462581,3666663,24561878,7900,2020-01-03 14:14:45.796916+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Перенос звонка,False
225539,4462581,3666663,24579911,7900,2020-01-09 08:54:56.929055+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Недозвон,False
225540,4462581,3666663,24591823,7900,2020-01-09 12:57:33.405277+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Недозвон,False
225543,4462581,3666663,26824011,7900,2020-04-02 19:08:53.357573+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
225534,4462581,3666663,27000117,7900,2020-04-09 16:05:18+00,Смена вакансии,NaN,NaN,False

In [10]:
le_masque = df['stage_name'] == 'Обработка'
le_masque &= df['activity_name'] == 'Провести первичную обработку'
df_inter_2 = df[le_masque]
df_inter_2

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
225535,4462581,3666663,24561874,7900,2020-01-03 14:14:26.995359+00,Обработка,Провести первичную обработку,Подходит,False
624565,4508429,3693272,24806225,45475,2020-01-16 19:40:28.031985+00,Обработка,Провести первичную обработку,Не подходит,False
556875,4511292,3443806,24824742,9459,2020-01-17 12:36:37.847298+00,Обработка,Провести первичную обработку,Подходит,False
575737,4514004,3696410,24842734,45475,2020-01-17 17:30:18.018675+00,Обработка,Провести первичную обработку,Отказ кандидата,False
675648,4514041,3748396,24843035,45475,2020-01-17 17:34:44.882797+00,Обработка,Провести первичную обработку,Подходит,False
...,...,...,...,...,...,...,...,...,...
667835,4886609,3897218,27106004,8783,2020-04-14 11:08:55.302545+00,Обработка,Провести первичную обработку,Не подходит,False
473504,4886610,3897231,27106006,30523,2020-04-14 11:08:56.884943+00,Обработка,Провести первичную обработку,Не подходит,False
662015,4886612,3897226,27106014,32875,2020-04-14 11:09:02.682381+00,Обработка,Провести первичную обработку,Подходит,False
448341,4886613,3895670,27105998,8377,2020-04-14 11:08:47.369905+00,Обработка,Провести первичную обработку,Подходит,False
448343,4886615,1040329,27106021,27473,2020-04-14 11:09:09.164995+00,Обработка,Провести первичную обработку,Подходит,False

In [ ]:
le_masque = df['stage_name'] == 'Обработка'
le_masque &= df['activity_name'] == 'Провести первичную обработку'
df_inter_2 = df[le_masque]
df_inter_2

In [32]:
le_masque &= df['result_name'] == 'Отказ кандидата'
df_inter_2 = df[le_masque]
df_inter_2

Empty DataFrame
Columns: [id_applicant, id_partner, id_log, department_id, action_date, stage_name, activity_name, result_name, is_open_action]
Index: []

In [37]:
le_masque = df['result_name'] == 'Отказ кандидата'
df_inter = df[le_masque]
df_inter

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
575737,4514004,3696410,24842734,45475,2020-01-17 17:30:18.018675+00,Обработка,Провести первичную обработку,Отказ кандидата,False
657913,4519604,3517789,24995627,45475,2020-01-23 16:10:54.303069+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Отказ кандидата,False
408134,4545922,3714180,25335944,45475,2020-02-05 17:11:45.790579+00,Обработка,Провести первичную обработку,Отказ кандидата,False
380667,4552084,3717826,25067416,45475,2020-01-27 13:15:52.930725+00,Обработка,Провести первичную обработку,Отказ кандидата,False
654816,4556547,3720277,25094134,45475,2020-01-28 10:24:49.269697+00,Обработка,Провести первичную обработку,Отказ кандидата,False
...,...,...,...,...,...,...,...,...,...
253347,4886474,2742131,27105275,9691,2020-04-14 10:56:55.080614+00,Обработка,Провести первичную обработку,Отказ кандидата,False
688996,4886497,3897150,27105413,48454,2020-04-14 10:58:55.260068+00,Интервью с руководителем,Назначить интервью с руководителем,Отказ кандидата,False
269021,4886532,3897176,27105699,9334,2020-04-14 11:03:24.753688+00,Обработка,Провести первичную обработку,Отказ кандидата,False
544520,4886571,3079717,27105840,29367,2020-04-14 11:05:50.859246+00,Интервью с руководителем,Назначить интервью с руководителем,Отказ кандидата,False
299628,4886597,3897199,27105996,28363,2020-04-14 11:08:45.453307+00,Интервью с руководителем,Назначить интервью с руководителем,Отказ кандидата,False

In [36]:
df[df['id_applicant'] == 4862402]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
166167,4862402,3884467,-1,48259,2020-04-08 14:24:47.641591+00,Создание кандидата,NaN,NaN,False
252578,4862402,3884467,26961166,48259,2020-04-08 14:25:17.979659+00,Обработка,Провести первичную обработку,Подходит,False
252577,4862402,3884467,26961167,48259,2020-04-08 14:25:19.156163+00,Обработка,Проверка формы обращения,Не резерв,False
252576,4862402,3884467,26961169,48259,2020-04-08 14:25:20.483163+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
252575,4862402,3884467,26961171,48259,2020-04-08 14:25:21.67825+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
252574,4862402,3884467,26961173,48259,2020-04-08 14:25:22.761282+00,СБ,Подготовить анкету кандидата,Подготовлена,False
252572,4862402,3884467,26968536,48259,2020-04-08 16:54:05.150594+00,СБ,Узнать результаты СБ,Подходит,False
252573,4862402,3884467,26968537,48259,2020-04-08 16:54:06.155795+00,СБ,Проверка формы обращения,Не резерв,False
252571,4862402,3884467,27004165,48259,2020-04-09 17:14:25.804071+00,Оформление,Назначить время на оформление,Недозвон,False
252570,4862402,3884467,27023069,48259,2020-04-10 13:08:50.9452+00,Оформление,Назначить время на оформление,Недозвон,False
252569,4862402,3884467,27032361,48259,2020-04-10 16:45:52.913798+00,Оформление,Назначить время на оформление,Отказ кандидата,False
252568,4862402,3884467,27032389,48259,2020-04-10 16:46:05.637715+00,Отказался,NaN,Отказ кандидата,False

In [6]:
le_masque = df['stage_name'] == 'Оформление'
le_masque &= df['activity_name'] == 'Узнать результаты приема'
le_masque &= df['result_name'] == 'Нет обратной связи от руководителя'
df_inter_2 = df[le_masque]
df_inter_2

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
267839,4592572,2542953,26781675,12874,2020-04-01 09:49:29.074824+00,Оформление,Узнать результаты приема,Нет обратной связи от руководителя,False
227696,4604656,3746737,25505388,35922,2020-02-11 17:29:51.957112+00,Оформление,Узнать результаты приема,Нет обратной связи от руководителя,False
462370,4606339,3747557,25690058,35325,2020-02-18 13:30:15.103155+00,Оформление,Узнать результаты приема,Нет обратной связи от руководителя,False
336070,4640288,1185745,27045364,47657,2020-04-11 11:14:08.59306+00,Оформление,Узнать результаты приема,Нет обратной связи от руководителя,False
273716,4655294,3773979,25767559,9976,2020-02-20 11:13:26.105184+00,Оформление,Узнать результаты приема,Нет обратной связи от руководителя,False
...,...,...,...,...,...,...,...,...,...
511719,4881848,3870040,27080414,30796,2020-04-13 13:10:06.78226+00,Оформление,Узнать результаты приема,Нет обратной связи от руководителя,False
533147,4882085,3873077,27081743,28405,2020-04-13 13:35:03.884623+00,Оформление,Узнать результаты приема,Нет обратной связи от руководителя,False
669952,4882509,2588907,27083939,9862,2020-04-13 14:12:10.832232+00,Оформление,Узнать результаты приема,Нет обратной связи от руководителя,False
576411,4883235,3885087,27087527,11822,2020-04-13 15:26:22.854439+00,Оформление,Узнать результаты приема,Нет обратной связи от руководителя,False
244119,4886053,3867928,27103404,34002,2020-04-14 10:15:32.973468+00,Оформление,Узнать результаты приема,Нет обратной связи от руководителя,False

In [7]:
df[df['id_applicant'] == 4640288]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
180878,4640288,1185745,-1,47657,2020-02-13 18:51:57.915763+00,Создание кандидата,NaN,NaN,False
336073,4640288,1185745,26650490,47657,2020-03-26 10:22:06.297209+00,Оформление,Узнать результаты приема,Недозвон,False
336072,4640288,1185745,26675888,47657,2020-03-26 17:40:50.258674+00,Оформление,Узнать результаты приема,Перенос звонка,False
336071,4640288,1185745,26820210,47657,2020-04-02 16:25:44.201416+00,Оформление,Узнать результаты приема,Перенос звонка,False
336070,4640288,1185745,27045364,47657,2020-04-11 11:14:08.59306+00,Оформление,Узнать результаты приема,Нет обратной связи от руководителя,False
336069,4640288,1185745,27090748,47657,2020-04-13 16:10:13.848632+00,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем,False
731881,4640288,1185745,-1,47657,2020-04-23 16:26:11.80918+00,Оформление,Предоставить обратную связь по кандидату,NaN,True

In [9]:
df[df['id_applicant'] == 4883235]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
175722,4883235,3885087,-1,11822,2020-04-13 15:25:44.086413+00,Создание кандидата,NaN,NaN,False
576419,4883235,3885087,27087504,11822,2020-04-13 15:25:54.712437+00,Обработка,Провести первичную обработку,Подходит,False
576418,4883235,3885087,27087506,11822,2020-04-13 15:25:55.554715+00,Обработка,Проверка формы обращения,Не резерв,False
576413,4883235,3885087,27087513,11822,2020-04-13 15:26:04.154566+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
576414,4883235,3885087,27087514,11822,2020-04-13 15:26:05.657034+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
576415,4883235,3885087,27087515,11822,2020-04-13 15:26:06.801643+00,СБ,Подготовить анкету кандидата,Подготовлена,False
576416,4883235,3885087,27087517,11822,2020-04-13 15:26:07.756449+00,СБ,Узнать результаты СБ,Подходит,False
576417,4883235,3885087,27087518,11822,2020-04-13 15:26:09.051537+00,СБ,Проверка формы обращения,Не резерв,False
576412,4883235,3885087,27087522,11822,2020-04-13 15:26:15.598767+00,Оформление,Назначить время на оформление,Время назначено,False
576411,4883235,3885087,27087527,11822,2020-04-13 15:26:22.854439+00,Оформление,Узнать результаты приема,Нет обратной связи от руководителя,False
728626,4883235,3885087,-1,11822,2020-04-23 16:26:11.80918+00,Оформление,Предоставить обратную связь по кандидату,NaN,True

In [23]:
le_masque = df['stage_name'] == 'Обработка'
le_masque &= df['result_name'] == 'Недозвон'
df_inter_2 = df[le_masque]
df_inter_2

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
408132,4545922,3714180,25260129,45475,2020-02-03 15:11:53.963037+00,Обработка,Провести первичную обработку,Недозвон,False
408133,4545922,3714180,25299265,45475,2020-02-04 17:33:28.405432+00,Обработка,Провести первичную обработку,Недозвон,False
240168,4660106,3776481,26753780,36834,2020-03-31 10:08:30.35974+00,Обработка,Провести первичную обработку,Недозвон,False
426917,4715002,3711425,26639589,36058,2020-03-25 17:41:05.69308+00,Обработка,Провести первичную обработку,Недозвон,False
279982,4747642,3712966,26244162,45475,2020-03-11 14:20:21.410607+00,Обработка,Провести первичную обработку,Недозвон,False
...,...,...,...,...,...,...,...,...,...
700753,4885435,3896495,27100438,48374,2020-04-14 08:57:49.835668+00,Обработка,Провести первичную обработку,Недозвон,False
688868,4886108,3896944,27103620,30324,2020-04-14 10:20:07.929524+00,Обработка,Провести первичную обработку,Недозвон,False
477913,4886117,3896957,27103654,32775,2020-04-14 10:21:12.542382+00,Обработка,Провести первичную обработку,Недозвон,False
313530,4886336,3880070,27104600,9437,2020-04-14 10:44:01.317856+00,Обработка,Провести первичную обработку,Недозвон,False
536372,4886349,3897060,27104753,49675,2020-04-14 10:47:00.848028+00,Обработка,Провести первичную обработку,Недозвон,False

In [24]:
le_masque = df['stage_name'] == 'Обработка'
le_masque &= df['result_name'] == 'Недозвон'
df_inter_2 = df[le_masque]
df_inter_2

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
114752,4545922,3714180,-1,45475,2020-01-24 16:53:34.245814+00,Создание кандидата,NaN,NaN,False
408131,4545922,3714180,25034950,45475,2020-01-24 16:54:13.015719+00,Обработка,Провести первичную обработку,Перенос звонка,False
408132,4545922,3714180,25260129,45475,2020-02-03 15:11:53.963037+00,Обработка,Провести первичную обработку,Недозвон,False
408133,4545922,3714180,25299265,45475,2020-02-04 17:33:28.405432+00,Обработка,Провести первичную обработку,Недозвон,False
408134,4545922,3714180,25335944,45475,2020-02-05 17:11:45.790579+00,Обработка,Провести первичную обработку,Отказ кандидата,False

In [29]:
df[df['id_partner'] == 3714180]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
114752,4545922,3714180,-1,45475,2020-01-24 16:53:34.245814+00,Создание кандидата,NaN,NaN,False
408131,4545922,3714180,25034950,45475,2020-01-24 16:54:13.015719+00,Обработка,Провести первичную обработку,Перенос звонка,False
408132,4545922,3714180,25260129,45475,2020-02-03 15:11:53.963037+00,Обработка,Провести первичную обработку,Недозвон,False
408133,4545922,3714180,25299265,45475,2020-02-04 17:33:28.405432+00,Обработка,Провести первичную обработку,Недозвон,False
408134,4545922,3714180,25335944,45475,2020-02-05 17:11:45.790579+00,Обработка,Провести первичную обработку,Отказ кандидата,False

In [26]:
df1 = df['id_applicant'].unique()
df1

array([4461761, 4461766, 4461768, ..., 4886612, 4886613, 4886615],
      dtype=int64)

In [27]:
len(df1)

149821

In [28]:
df2 = df['id_partner'].unique()
len(df2)

114868

In [161]:
df3 = df.groupby('id_partner').nunique()
df4 = df3[df3['id_applicant'] >1]
df3[df3['id_applicant'] >1]

,id_applicant,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
id_partner,,,,,,,,,,
531348,3,17,3,20,6,7,6,1,1,2
532282,2,9,2,11,4,4,4,1,1,2
532361,2,11,2,13,5,6,5,1,1,2
532842,2,8,2,9,3,4,5,1,1,1
533611,2,13,2,15,6,7,5,1,1,2
...,...,...,...,...,...,...,...,...,...,...
3896648,2,8,2,10,4,4,3,1,1,2
3896699,2,7,2,9,4,4,3,1,1,2
3896920,5,8,3,13,3,4,4,1,1,2
3897038,2,3,2,4,2,1,2,1,1,1
3897146,2,4,2,6,3,4,3,1,1,2

In [154]:
le_masque = df_new['id_partner'] in df4['id_partner']
le_masque &= df_new['result_name'] == 'Принят'
df6 = df_new[le_masque]
df6

KeyError: 'id_partner'

In [44]:
df[df['id_partner'] == 531348]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
152182,4846985,531348,-1,17828,2020-04-06 09:13:33.094703+00,Создание кандидата,NaN,NaN,False
252399,4846985,531348,26878723,17828,2020-04-06 09:14:37.6877+00,Обработка,Провести первичную обработку,Подходит,False
252400,4846985,531348,26878724,17828,2020-04-06 09:14:38.159744+00,Обработка,Проверка формы обращения,Не резерв,False
252401,4846985,531348,26878736,17828,2020-04-06 09:15:05.05596+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
252403,4846985,531348,26904384,17828,2020-04-06 17:53:59.157673+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Перенос кандидата,False
252402,4846985,531348,26904399,17828,2020-04-06 17:54:11.214736+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
252398,4846985,531348,27046235,17828,2020-04-11 11:30:40+00,Смена вакансии,NaN,NaN,False
152291,4876132,531348,-1,46316,2020-04-11 11:30:39.852255+00,Создание кандидата,NaN,NaN,False
544289,4876132,531348,27046239,46316,2020-04-11 11:30:50.884554+00,Обработка,Провести первичную обработку,Подходит,False
544290,4876132,531348,27046240,46316,2020-04-11 11:30:51.951028+00,Обработка,Проверка формы обращения,Не резерв,False
544291,4876132,531348,27046249,46316,2020-04-11 11:31:00.831274+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
544292,4876132,531348,27082596,46316,2020-04-13 13:50:53+00,Смена вакансии,NaN,NaN,False
175475,4882274,531348,-1,10054,2020-04-13 13:50:52.676296+00,Создание кандидата,NaN,NaN,False
610033,4882274,531348,27082598,10054,2020-04-13 13:51:03.071538+00,Обработка,Провести первичную обработку,Подходит,False
610034,4882274,531348,27082600,10054,2020-04-13 13:51:04.199395+00,Обработка,Проверка формы обращения,Не резерв,False
610035,4882274,531348,27082603,10054,2020-04-13 13:51:05.620916+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
610036,4882274,531348,27082606,10054,2020-04-13 13:51:06.870398+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
610037,4882274,531348,27082610,10054,2020-04-13 13:51:08.0154+00,СБ,Подготовить анкету кандидата,Подготовлена,False
610032,4882274,531348,27087390,10054,2020-04-13 15:22:58.832573+00,СБ,Узнать результаты СБ,Не подходит,False
728505,4882274,531348,-1,10054,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,True

In [46]:
df[df['id_partner'] == 2798100]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
13727,4489173,2798100,-1,32689,2020-01-13 16:04:53.068524+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
20717,4818898,2798100,-1,32689,2020-03-29 09:17:15.285224+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
20718,4699401,2798100,-1,7768,2020-02-27 17:19:41.495787+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
20719,4682979,2798100,-1,7778,2020-02-25 10:59:52.432402+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
20720,4595986,2798100,-1,7778,2020-02-05 10:53:11.422297+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
20721,4573692,2798100,-1,29317,2020-01-30 17:17:43.888266+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
20722,4567344,2798100,-1,19250,2020-01-29 16:51:51.010331+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
20723,4561825,2798100,-1,30042,2020-01-29 08:22:16.648616+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
20724,4558541,2798100,-1,19250,2020-01-28 12:55:15.205359+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
20725,4541547,2798100,-1,29317,2020-01-24 09:51:44.726873+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
20726,4540576,2798100,-1,9778,2020-01-23 18:50:57.199178+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
20727,4508618,2798100,-1,7778,2020-01-17 08:07:13.089609+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
20728,4489167,2798100,-1,7778,2020-01-13 16:03:51.617844+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
21416,4540574,2798100,-1,9799,2020-01-23 18:50:01.403126+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
74990,4816367,2798100,-1,7768,2020-03-27 12:20:30.801988+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
543081,4818898,2798100,26710891,32689,2020-03-29 09:17:32.588768+00,Обработка,Провести первичную обработку,Не подходит,Продавец-кассир,True,False
687301,4816367,2798100,26786971,7768,2020-04-01 12:01:35.313232+00,Интервью с руководителем,Предоставить обратную связь по кандидату,Отказ руководителя,Продавец-кассир,True,False
687302,4816367,2798100,26786969,7768,2020-04-01 12:01:34.671002+00,Интервью с руководителем,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем,Продавец-кассир,True,False
687303,4816367,2798100,26766783,7768,2020-03-31 14:05:05.274714+00,Интервью с руководителем,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем,Продавец-кассир,True,False
687304,4816367,2798100,26740264,7768,2020-03-30 16:01:32.514612+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи от руководителя,Продавец-кассир,True,False
687305,4816367,2798100,26712451,7768,2020-03-29 10:52:28.501434+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Недозвон,Продавец-кассир,True,False
687306,4816367,2798100,26690625,7768,2020-03-27 12:21:04.173674+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,Продавец-кассир,True,False
687307,4816367,2798100,26690614,7768,2020-03-27 12:20:53.398587+00,Обработка,Проверка формы обращения,Не резерв,Продавец-кассир,True,False
687308,4816367,2798100,26690613,7768,2020-03-27 12:20:53.035834+00,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,True,False

In [134]:
df_new = df.sort_values(by = ['id_partner', 'action_date']) #отсортируем данные по кандидату и дате действия 
df_new

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
133855,4492661,530570,-1,48879,2020-01-14 11:49:41.350496+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
67800,4698826,530611,-1,12476,2020-02-27 16:16:21.540425+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
129783,4859533,530654,-1,32944,2020-04-08 09:03:25.816711+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
249942,4859533,530654,26944118,32944,2020-04-08 09:04:16.797454+00,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,True,False
249941,4859533,530654,26944119,32944,2020-04-08 09:04:17.523637+00,Обработка,Проверка формы обращения,Не резерв,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
662018,4886612,3897226,27106019,32875,2020-04-14 11:09:07.214624+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,Продавец-кассир,True,False
662019,4886612,3897226,27106020,32875,2020-04-14 11:09:08.379094+00,СБ,Подготовить анкету кандидата,Подготовлена,Продавец-кассир,True,False
734844,4886612,3897226,-1,32875,2020-04-23 16:26:11.80918+00,СБ,Узнать результаты СБ,NaN,Продавец-кассир,True,True
185790,4886610,3897231,-1,30523,2020-04-14 11:08:31.918849+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
473504,4886610,3897231,27106006,30523,2020-04-14 11:08:56.884943+00,Обработка,Провести первичную обработку,Не подходит,Продавец-кассир,True,False

In [48]:
df.columns

Index(['id_applicant', 'id_partner', 'id_log', 'department_id', 'action_date',
       'stage_name', 'activity_name', 'result_name', 'position_name',
       'is_active_action', 'is_open_action'],
      dtype='object')

In [135]:
#Понятия не имею нахера тут столбец is_active_action если у него все значения тру
df_new = df_new.drop(['position_name'], axis =1)
df_new = df_new.drop(['is_active_action'], axis =1)

In [143]:
df5 = df_new[df_new['id_partner'] == 2798100]
df5

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
20728,4489167,2798100,-1,7778,2020-01-13 16:03:51,Создание кандидата,NaN,NaN,False
13727,4489173,2798100,-1,32689,2020-01-13 16:04:53,Создание кандидата,NaN,NaN,False
20727,4508618,2798100,-1,7778,2020-01-17 08:07:13,Создание кандидата,NaN,NaN,False
21416,4540574,2798100,-1,9799,2020-01-23 18:50:01,Создание кандидата,NaN,NaN,False
20726,4540576,2798100,-1,9778,2020-01-23 18:50:57,Создание кандидата,NaN,NaN,False
20725,4541547,2798100,-1,29317,2020-01-24 09:51:44,Создание кандидата,NaN,NaN,False
20724,4558541,2798100,-1,19250,2020-01-28 12:55:15,Создание кандидата,NaN,NaN,False
20723,4561825,2798100,-1,30042,2020-01-29 08:22:16,Создание кандидата,NaN,NaN,False
20722,4567344,2798100,-1,19250,2020-01-29 16:51:51,Создание кандидата,NaN,NaN,False
20721,4573692,2798100,-1,29317,2020-01-30 17:17:43,Создание кандидата,NaN,NaN,False
20720,4595986,2798100,-1,7778,2020-02-05 10:53:11,Создание кандидата,NaN,NaN,False
20719,4682979,2798100,-1,7778,2020-02-25 10:59:52,Создание кандидата,NaN,NaN,False
20718,4699401,2798100,-1,7768,2020-02-27 17:19:41,Создание кандидата,NaN,NaN,False
74990,4816367,2798100,-1,7768,2020-03-27 12:20:30,Создание кандидата,NaN,NaN,False
687308,4816367,2798100,26690613,7768,2020-03-27 12:20:53,Обработка,Провести первичную обработку,Подходит,False
687307,4816367,2798100,26690614,7768,2020-03-27 12:20:53,Обработка,Проверка формы обращения,Не резерв,False
687306,4816367,2798100,26690625,7768,2020-03-27 12:21:04,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
20717,4818898,2798100,-1,32689,2020-03-29 09:17:15,Создание кандидата,NaN,NaN,False
543081,4818898,2798100,26710891,32689,2020-03-29 09:17:32,Обработка,Провести первичную обработку,Не подходит,False
687305,4816367,2798100,26712451,7768,2020-03-29 10:52:28,Интервью с руководителем,Узнать результаты интервью с руководителем,Недозвон,False
687304,4816367,2798100,26740264,7768,2020-03-30 16:01:32,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи от руководителя,False
687303,4816367,2798100,26766783,7768,2020-03-31 14:05:05,Интервью с руководителем,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем,False
687302,4816367,2798100,26786969,7768,2020-04-01 12:01:34,Интервью с руководителем,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем,False
687301,4816367,2798100,26786971,7768,2020-04-01 12:01:35,Интервью с руководителем,Предоставить обратную связь по кандидату,Отказ руководителя,False

In [93]:
import datetime

In [126]:
def convert(val):
    try:
        i = val.index('.')
    except ValueError:
        j = val.index('+')
        val = val[:j]
        date_time_obj = datetime.datetime.strptime(val, '%Y-%m-%d %H:%M:%S')
    else:
        val = val[:i]
        date_time_obj = datetime.datetime.strptime(val, '%Y-%m-%d %H:%M:%S')
    return date_time_obj

In [137]:
df_new

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
133855,4492661,530570,-1,48879,2020-01-14 11:49:41.350496+00,Создание кандидата,NaN,NaN,False
67800,4698826,530611,-1,12476,2020-02-27 16:16:21.540425+00,Создание кандидата,NaN,NaN,False
129783,4859533,530654,-1,32944,2020-04-08 09:03:25.816711+00,Создание кандидата,NaN,NaN,False
249942,4859533,530654,26944118,32944,2020-04-08 09:04:16.797454+00,Обработка,Провести первичную обработку,Подходит,False
249941,4859533,530654,26944119,32944,2020-04-08 09:04:17.523637+00,Обработка,Проверка формы обращения,Не резерв,False
...,...,...,...,...,...,...,...,...,...
662018,4886612,3897226,27106019,32875,2020-04-14 11:09:07.214624+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
662019,4886612,3897226,27106020,32875,2020-04-14 11:09:08.379094+00,СБ,Подготовить анкету кандидата,Подготовлена,False
734844,4886612,3897226,-1,32875,2020-04-23 16:26:11.80918+00,СБ,Узнать результаты СБ,NaN,True
185790,4886610,3897231,-1,30523,2020-04-14 11:08:31.918849+00,Создание кандидата,NaN,NaN,False
473504,4886610,3897231,27106006,30523,2020-04-14 11:08:56.884943+00,Обработка,Провести первичную обработку,Не подходит,False

In [138]:
df_new['action_date'] = df_new['action_date'].apply(convert)

In [139]:
df_new

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
133855,4492661,530570,-1,48879,2020-01-14 11:49:41,Создание кандидата,NaN,NaN,False
67800,4698826,530611,-1,12476,2020-02-27 16:16:21,Создание кандидата,NaN,NaN,False
129783,4859533,530654,-1,32944,2020-04-08 09:03:25,Создание кандидата,NaN,NaN,False
249942,4859533,530654,26944118,32944,2020-04-08 09:04:16,Обработка,Провести первичную обработку,Подходит,False
249941,4859533,530654,26944119,32944,2020-04-08 09:04:17,Обработка,Проверка формы обращения,Не резерв,False
...,...,...,...,...,...,...,...,...,...
662018,4886612,3897226,27106019,32875,2020-04-14 11:09:07,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
662019,4886612,3897226,27106020,32875,2020-04-14 11:09:08,СБ,Подготовить анкету кандидата,Подготовлена,False
734844,4886612,3897226,-1,32875,2020-04-23 16:26:11,СБ,Узнать результаты СБ,NaN,True
185790,4886610,3897231,-1,30523,2020-04-14 11:08:31,Создание кандидата,NaN,NaN,False
473504,4886610,3897231,27106006,30523,2020-04-14 11:08:56,Обработка,Провести первичную обработку,Не подходит,False

In [144]:
df5

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
20728,4489167,2798100,-1,7778,2020-01-13 16:03:51,Создание кандидата,NaN,NaN,False
13727,4489173,2798100,-1,32689,2020-01-13 16:04:53,Создание кандидата,NaN,NaN,False
20727,4508618,2798100,-1,7778,2020-01-17 08:07:13,Создание кандидата,NaN,NaN,False
21416,4540574,2798100,-1,9799,2020-01-23 18:50:01,Создание кандидата,NaN,NaN,False
20726,4540576,2798100,-1,9778,2020-01-23 18:50:57,Создание кандидата,NaN,NaN,False
20725,4541547,2798100,-1,29317,2020-01-24 09:51:44,Создание кандидата,NaN,NaN,False
20724,4558541,2798100,-1,19250,2020-01-28 12:55:15,Создание кандидата,NaN,NaN,False
20723,4561825,2798100,-1,30042,2020-01-29 08:22:16,Создание кандидата,NaN,NaN,False
20722,4567344,2798100,-1,19250,2020-01-29 16:51:51,Создание кандидата,NaN,NaN,False
20721,4573692,2798100,-1,29317,2020-01-30 17:17:43,Создание кандидата,NaN,NaN,False
20720,4595986,2798100,-1,7778,2020-02-05 10:53:11,Создание кандидата,NaN,NaN,False
20719,4682979,2798100,-1,7778,2020-02-25 10:59:52,Создание кандидата,NaN,NaN,False
20718,4699401,2798100,-1,7768,2020-02-27 17:19:41,Создание кандидата,NaN,NaN,False
74990,4816367,2798100,-1,7768,2020-03-27 12:20:30,Создание кандидата,NaN,NaN,False
687308,4816367,2798100,26690613,7768,2020-03-27 12:20:53,Обработка,Провести первичную обработку,Подходит,False
687307,4816367,2798100,26690614,7768,2020-03-27 12:20:53,Обработка,Проверка формы обращения,Не резерв,False
687306,4816367,2798100,26690625,7768,2020-03-27 12:21:04,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
20717,4818898,2798100,-1,32689,2020-03-29 09:17:15,Создание кандидата,NaN,NaN,False
543081,4818898,2798100,26710891,32689,2020-03-29 09:17:32,Обработка,Провести первичную обработку,Не подходит,False
687305,4816367,2798100,26712451,7768,2020-03-29 10:52:28,Интервью с руководителем,Узнать результаты интервью с руководителем,Недозвон,False
687304,4816367,2798100,26740264,7768,2020-03-30 16:01:32,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи от руководителя,False
687303,4816367,2798100,26766783,7768,2020-03-31 14:05:05,Интервью с руководителем,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем,False
687302,4816367,2798100,26786969,7768,2020-04-01 12:01:34,Интервью с руководителем,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем,False
687301,4816367,2798100,26786971,7768,2020-04-01 12:01:35,Интервью с руководителем,Предоставить обратную связь по кандидату,Отказ руководителя,False

In [145]:
max(df5['action_date']) - min(df5['action_date'])

Timedelta('78 days 19:57:44')

In [170]:
df_new[df_new['id_partner'] == 3732215]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
63269,4578838,3732215,-1,31117,2020-01-31 16:15:32,Создание кандидата,NaN,NaN,False
348409,4578838,3732215,26847382,31117,2020-04-03 17:06:12,Оформление,Узнать результаты приема,Принят,False