In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('2019_X5_STORES.csv', delimiter=',')
data

D:\misis\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,3571030,3169360,-1,9690,2019-03-25 11:19:30.22263+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
1,3557079,3156593,-1,9690,2019-03-20 14:15:12.627618+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
2,3533154,3148604,-1,9690,2019-03-13 14:05:24.154745+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
3,3506567,2267753,-1,9690,2019-03-04 16:10:11.28085+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
4,3481025,3076621,-1,9690,2019-02-23 17:38:34.772531+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
6370929,3442892,3076687,-1,5903,2020-04-23 15:38:59.865221+00,Интервью с руководителем,Узнать результаты интервью с руководителем,NaN,Продавец-кассир,True,True
6370930,3406359,3076584,-1,5903,2020-04-23 15:38:59.865221+00,Интервью с руководителем,Узнать результаты интервью с руководителем,NaN,Продавец-кассир,True,True
6370931,3478722,3068425,-1,30080,2020-04-23 15:38:59.865221+00,Гайд-интервью,Назначить время для гайд-интервью,NaN,Заместитель Директора магазина,True,True
6370932,3478708,1098090,-1,30080,2020-04-23 15:38:59.865221+00,Гайд-интервью,Назначить время для гайд-интервью,NaN,Заместитель Директора магазина,True,True
6370933,3815765,3302980,-1,45706,2020-04-23 15:38:59.865221+00,Интервью с руководителем,Узнать результаты интервью с руководителем,NaN,Продавец-кассир,True,True

In [2]:
le_masque = data['position_name'] == 'Продавец-кассир'
le_masque &= data['is_active_action'] == True
df_seller = data[le_masque]
df_seller

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,3571030,3169360,-1,9690,2019-03-25 11:19:30.22263+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
1,3557079,3156593,-1,9690,2019-03-20 14:15:12.627618+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
2,3533154,3148604,-1,9690,2019-03-13 14:05:24.154745+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
3,3506567,2267753,-1,9690,2019-03-04 16:10:11.28085+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
4,3481025,3076621,-1,9690,2019-02-23 17:38:34.772531+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
6370927,3479558,3108474,-1,5903,2020-04-23 15:38:59.865221+00,Интервью с руководителем,Узнать результаты интервью с руководителем,NaN,Продавец-кассир,True,True
6370928,3447754,3091458,-1,5903,2020-04-23 15:38:59.865221+00,Ожидание,Вернуть в воронку,NaN,Продавец-кассир,True,True
6370929,3442892,3076687,-1,5903,2020-04-23 15:38:59.865221+00,Интервью с руководителем,Узнать результаты интервью с руководителем,NaN,Продавец-кассир,True,True
6370930,3406359,3076584,-1,5903,2020-04-23 15:38:59.865221+00,Интервью с руководителем,Узнать результаты интервью с руководителем,NaN,Продавец-кассир,True,True
6370933,3815765,3302980,-1,45706,2020-04-23 15:38:59.865221+00,Интервью с руководителем,Узнать результаты интервью с руководителем,NaN,Продавец-кассир,True,True

In [3]:
df_seller.columns #названия колонок

Index(['id_applicant', 'id_partner', 'id_log', 'department_id', 'action_date',
       'stage_name', 'activity_name', 'result_name', 'position_name',
       'is_active_action', 'is_open_action'],
      dtype='object')

Предполагаю, что колонки отражают следующую информацию:
###### 1) идентификатор кандидата;
###### 2) идентификатор партнера (думаю, речь о компании, в которую мы побираем кандидата - 5-ка и т.д.);
###### 3) идентификатор записи (номер записи в логе, одна запись (строчка) = один айдишник);
###### 4) дата и время действия со стороны компании; 
###### 5) наименование стадии процесса найма;
###### 6) наименование активности внутри этой стадии;
###### 7) результат активности п.6;
###### 8) наименование должности (можем удалить, оставили только продавцов-кассиром по условию);
###### 9) флаг актуальности действия (можем удалить, оставили только актуальные записи)
###### 10) открыто ли действие на данный момент

In [4]:
sorted_df = df_seller.sort_values(by = ['id_applicant', 'action_date']) #отсортируем данные по кандидату и дате действия 
sorted_df = sorted_df.drop(['position_name', 'is_active_action'], axis =1)
sorted_df

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
112200,3330764,1945965,-1,43730,2019-01-03 09:08:42.731713+00,Создание кандидата,NaN,NaN,False
945704,3330764,1945965,17153661,43730,2019-01-03 09:09:01.223434+00,Обработка,Провести первичную обработку,Подходит,False
945705,3330764,1945965,17153662,43730,2019-01-03 09:09:02.277769+00,Обработка,Проверка формы обращения,Не резерв,False
945703,3330764,1945965,17153663,43730,2019-01-03 09:09:27.876281+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
945700,3330764,1945965,17184864,43730,2019-01-09 16:44:58.613338+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи,False
...,...,...,...,...,...,...,...,...,...
859590,4461737,3666179,-1,9329,2019-12-31 15:59:37.04514+00,Создание кандидата,NaN,NaN,False
696938,4461738,3666180,-1,47357,2019-12-31 15:59:39.661805+00,Создание кандидата,NaN,NaN,False
1234625,4461738,3666180,26761529,47357,2020-03-31 12:22:56.184746+00,Не прошел СБ,Вывести из черного списка,В белый список,False
818703,4461742,3194598,-1,36270,2019-12-31 16:33:01.24452+00,Создание кандидата,NaN,NaN,False
762895,4461751,3666185,-1,33681,2019-12-31 16:50:15.760066+00,Создание кандидата,NaN,NaN,False

In [5]:
sorted_df['stage_name'].unique() # уникальные стадии найма

array(['Создание кандидата', 'Обработка', 'Интервью с руководителем',
       'Смена вакансии', 'СБ', 'Оформление',
       'Назначение времени на оформление/медосмотр', 'Отказался',
       'Ожидание', 'Выход на работу', 'Резерв', 'Не прошел СБ',
       'Черный список', 'Мы отказали',
       'Групповое собеседование и тестирование', 'Гайд-интервью'],
      dtype=object)

for i in sorted_df['stage_name'].unique():
    le_masque = sorted_df['stage_name'] == i
    df_create = sorted_df[le_masque]
    
    if len(df_create['activity_name'].unique())==0:
            df.loc[len(df)] = [i, None, None]
    else:
        for j in df_create['activity_name'].unique():
            le_masque = (sorted_df['stage_name'] == i) | (sorted_df['activity_name'] == j)
            df_inter = sorted_df[le_masque]

            if len(df_inter['result_name'].unique())==0:
                df.loc[len(df)] = [i, j, None]
            else:
                for k in df_inter['result_name'].unique():
                    df.loc[len(df)] = [i, j, k]
df

In [6]:
sorted_df['stage_name'].unique() # уникальные стадии найма

array(['Создание кандидата', 'Обработка', 'Интервью с руководителем',
       'Смена вакансии', 'СБ', 'Оформление',
       'Назначение времени на оформление/медосмотр', 'Отказался',
       'Ожидание', 'Выход на работу', 'Резерв', 'Не прошел СБ',
       'Черный список', 'Мы отказали',
       'Групповое собеседование и тестирование', 'Гайд-интервью'],
      dtype=object)

По сравнению с 2018 годом добавилось 'Групповое собеседование и тестирование' и 'Гайд-интервью'

Для каждой стадии хочу посмотреть активности и их результаты 
1) Стадия 'Создание кандидата'

In [7]:
le_masque = sorted_df['stage_name'] == 'Создание кандидата'
df_create = sorted_df[le_masque]
df_create['activity_name'].unique()

array([nan], dtype=object)

2) Стадия 'Интервью с руководителем'

In [8]:
le_masque = sorted_df['stage_name'] == 'Интервью с руководителем'
df_inter = sorted_df[le_masque]
df_inter['activity_name'].unique()

array(['Назначить интервью с руководителем',
       'Узнать результаты интервью с руководителем'], dtype=object)

Нету 'Подготовить анкету кандидата'

In [9]:
le_masque = sorted_df['stage_name'] == 'Интервью с руководителем'
le_masque &= sorted_df['activity_name'] == 'Назначить интервью с руководителем'
df_inter_2 = sorted_df[le_masque]
df_inter_2['result_name'].unique()

array(['Встреча назначена', 'Нет обратной связи', 'Перенос звонка',
       'Отказ кандидата', 'Ожидание', 'Резерв', 'Подходит',
       'Отказ руководителя', 'Не подходит', nan,
       'Интервью с руководителем', 'Недозвон', 'Черный список',
       'Перенос кандидата', 'СБ'], dtype=object)

In [10]:
le_masque = sorted_df['stage_name'] == 'Интервью с руководителем'
le_masque &= sorted_df['activity_name'] == 'Узнать результаты интервью с руководителем'
df_inter_3 = sorted_df[le_masque]
df_inter_3['result_name'].unique()

array(['Нет обратной связи', 'Отказ кандидата', 'Резерв',
       'Перенос кандидата', 'Подходит', 'Ожидание', nan, 'Не подходит',
       'Недозвон', 'Встреча назначена', 'Перенос руководителя',
       'Черный список', 'Отказ руководителя', 'Интервью с руководителем',
       'Перенос звонка'], dtype=object)

Добавлен 'Отказ руководителя'

In [11]:
le_masque = sorted_df['stage_name'] == 'Интервью с руководителем'
le_masque &= sorted_df['activity_name'] == 'Подготовить анкету кандидата'
df_inter_4 = sorted_df[le_masque]
df_inter_4['result_name'].unique()

array([], dtype=object)

Ни одна анкета за год не подошла???

3) Стадия 'СБ' -- служба безопасности

In [12]:
le_masque = sorted_df['stage_name'] == 'СБ'
df_sb = sorted_df[le_masque]
df_sb['activity_name'].unique()

array(['Подготовить анкету кандидата', 'Узнать результаты СБ',
       'Проверка формы обращения'], dtype=object)

Нету 'Получить согласование повторного приема и отправить в СБ'

In [13]:
le_masque = sorted_df['stage_name'] == 'СБ'
le_masque &= sorted_df['activity_name'] == 'Подготовить анкету кандидата'
df_sb_2 = sorted_df[le_masque]
df_sb_2['result_name'].unique()

array(['Подготовлена', 'Отказ кандидата', 'Ожидание',
       'Нет обратной связи', 'Данные не предоставлены', 'Резерв',
       'Подходит', nan, 'СБ', 'Назначить время на оформление/медосмотр',
       'Встреча назначена', 'Не подготовлена'], dtype=object)

Появилось 'Назначить время на оформление/медосмотр'

In [14]:
le_masque = sorted_df['stage_name'] == 'СБ'
le_masque &= sorted_df['activity_name'] == 'Узнать результаты СБ'
df_sb_3 = sorted_df[le_masque]
df_sb_3['result_name'].unique()

array(['Подходит', 'Не подходит', 'Подготовлена', 'Нет обратной связи',
       nan, 'Уточнение данных', 'Резерв', 'Время назначено', 'Ожидание',
       'Недозвон', 'Черный список', 'Отказ кандидата'], dtype=object)

Нету 'Согласование повторного приема' 'Получено' 'Перенос кандидата'

In [15]:
le_masque = sorted_df['stage_name'] == 'СБ'
le_masque &= sorted_df['activity_name'] == 'Получить согласование повторного приема и отправить в СБ'
df_sb_4 = sorted_df[le_masque]
df_sb_4['result_name'].unique()

array([], dtype=object)

In [16]:
le_masque = sorted_df['stage_name'] == 'СБ'
le_masque &= sorted_df['activity_name'] == 'Проверка формы обращения'
df_sb_5 = sorted_df[le_masque]
df_sb_5['result_name'].unique()

array(['Не резерв', 'Подготовлена', 'Отказ кандидата'], dtype=object)

4) Стадия 'Обработка'

In [17]:
le_masque = sorted_df['stage_name'] == 'Обработка'
df_ob = sorted_df[le_masque]
df_ob['activity_name'].unique()

array(['Провести первичную обработку', 'Проверка формы обращения',
       'Узнать результаты СБ', nan,
       'Назначить время на оформление/медосмотр (недозвон)',
       'Узнать результаты медосмотра'], dtype=object)

Нету 'Проверка источника'

In [18]:
le_masque = sorted_df['stage_name'] == 'Обработка'
le_masque &= sorted_df['activity_name'] == 'Провести первичную обработку'
df_ob_2 = sorted_df[le_masque]
df_ob_2['result_name'].unique()

array(['Подходит', 'Недозвон', 'Отказ кандидата', 'Не подходит',
       'Перенос звонка', 'Ожидание', 'Резерв', nan, 'Встреча назначена',
       'Черный список', 'Обработка',
       'Назначить время на оформление/медосмотр',
       'Интервью с руководителем', 'Принят'], dtype=object)

In [19]:
le_masque = sorted_df['stage_name'] == 'Обработка'
le_masque &= sorted_df['activity_name'] == 'Проверка формы обращения'
df_ob_3 = sorted_df[le_masque]
df_ob_3['result_name'].unique()

array(['Не резерв', 'Подходит', nan], dtype=object)

Нету 'Кадровый резерв'

In [20]:
le_masque = sorted_df['stage_name'] == 'Обработка'
le_masque &= sorted_df['activity_name'] == 'Узнать результаты медосмотра'
df_ob_5 = sorted_df[le_masque]
df_ob_5['result_name'].unique()

array(['Недозвон'], dtype=object)

In [21]:
le_masque = sorted_df['stage_name'] == 'Обработка'
le_masque &= sorted_df['activity_name'] == 'Узнать результаты СБ'
df_ob_6 = sorted_df[le_masque]
df_ob_6['result_name'].unique()

array(['Подходит'], dtype=object)

In [22]:
le_masque = sorted_df['stage_name'] == 'Обработка'
le_masque &= sorted_df['activity_name'] == 'Назначить время на оформление/медосмотр (недозвон)'
df_ob_7 = sorted_df[le_masque]
df_ob_7['result_name'].unique()

array(['Подходит', 'Отказ кандидата', 'Недозвон', 'Время назначено'],
      dtype=object)

5) Стадия 'Назначение времени на оформление/медосмотр'

In [23]:
le_masque = sorted_df['stage_name'] == 'Назначение времени на оформление/медосмотр'
df_ob = sorted_df[le_masque]
df_ob['activity_name'].unique()

array(['Назначить время на оформление/медосмотр (недозвон)',
       'Узнать результаты медосмотра',
       'Назначить время на оформление/медосмотр', nan], dtype=object)

In [24]:
le_masque = sorted_df['stage_name'] == 'Назначение времени на оформление/медосмотр'
le_masque &= sorted_df['activity_name'] == 'Назначить время на оформление/медосмотр'
df_of = sorted_df[le_masque]
df_of['result_name'].unique()

array(['Отказ кандидата', 'Подходит', 'Время назначено', 'Резерв',
       'Недозвон', 'Назначить время на оформление/медосмотр', 'Ожидание',
       'Направлен на медосмотр', 'Оформление', 'Перенос звонка',
       'Интервью с руководителем', 'СБ'], dtype=object)

нет 'Нет обратной связи', 'Не подходит', 'Принят', 'Встреча назначена', 'В ожидании', 'Оформление'

In [25]:
le_masque = sorted_df['stage_name'] == 'Назначение времени на оформление/медосмотр'
le_masque &= sorted_df['activity_name'] == 'Назначить время на оформление/медосмотр (недозвон)'
df_of_2 = sorted_df[le_masque]
df_of_2['result_name'].unique()

array(['Недозвон', 'Отказ кандидата', 'Подходит', 'Время назначено',
       'Направлен на медосмотр', 'Ожидание', 'Резерв', 'Перенос звонка',
       'Черный список', nan, 'Нет обратной связи', 'Принят',
       'Назначить время на оформление/медосмотр'], dtype=object)

In [26]:
le_masque = sorted_df['stage_name'] == 'Назначение времени на оформление/медосмотр'
le_masque &= sorted_df['activity_name'] == 'Узнать результаты медосмотра'
df_of_3 = sorted_df[le_masque]
df_of_3['result_name'].unique()

array(['Недозвон', 'Подходит', 'Не подходит', 'Отказ кандидата',
       'Ожидание', 'Резерв', 'Перенос звонка', nan, 'Черный список',
       'Время назначено', 'Направлен на медосмотр'], dtype=object)

6) Стадия 'Оформление'

In [27]:
le_masque = sorted_df['stage_name'] == 'Оформление'
df_off = sorted_df[le_masque]
df_off['activity_name'].unique()

array(['Назначить время на оформление/медосмотр',
       'Узнать результаты приема',
       'Назначить время на оформление/медосмотр (недозвон)',
       'Узнать результаты медосмотра', 'Назначить время на оформление'],
      dtype=object)

In [28]:
le_masque = sorted_df['stage_name'] == 'Оформление'
le_masque &= sorted_df['activity_name'] == 'Узнать результаты приема'
df_off_2 = sorted_df[le_masque]
df_off_2['result_name'].unique()

array(['Принят', 'Отказ кандидата', 'В ожидании', 'Резерв', 'Ожидание',
       'Не принят', nan, 'Недозвон', 'Время назначено', 'Подходит',
       'Оформление', 'Направлен на медосмотр', 'Черный список', 'СБ',
       'Нет обратной связи', 'Встреча назначена', 'Перенос звонка'],
      dtype=object)

Добавили 'СБ' и 'Перенос звонка'

In [29]:
le_masque = sorted_df['stage_name'] == 'Оформление'
le_masque &= sorted_df['activity_name'] == 'Назначить время на оформление/медосмотр'
df_off_3 = sorted_df[le_masque]
df_off_3['result_name'].unique()

array(['Время назначено', 'Недозвон', 'Ожидание',
       'Направлен на медосмотр', 'Отказ кандидата', 'Резерв',
       'Нет обратной связи', nan, 'Перенос звонка', 'Черный список',
       'Подходит', 'Встреча назначена', 'Не подходит',
       'Назначить время на оформление/медосмотр'], dtype=object)

Добавлено 'Ожидание', 'Нет обратной связи', 'Черный список' и 'Назначить время на оформление/медосмотр'

In [30]:
le_masque = sorted_df['stage_name'] == 'Оформление'
le_masque &= sorted_df['activity_name'] == 'Назначить время на оформление/медосмотр (недозвон)'
df_off_4 = sorted_df[le_masque]
df_off_4['result_name'].unique()

array(['Недозвон', 'Отказ кандидата', 'Резерв', 'Время назначено', nan,
       'Ожидание', 'Направлен на медосмотр',
       'Назначить время на оформление/медосмотр', 'Перенос звонка',
       'Черный список', 'В ожидании'], dtype=object)

Добавлено 'Направлен на медосмотр', 'Назначить время на оформление/медосмотр', 'Перенос звонка', 'Черный список' и 'В ожидании'

In [31]:
le_masque = sorted_df['stage_name'] == 'Оформление'
le_masque &= sorted_df['activity_name'] == 'Назначить время на оформление'
df_off_4 = sorted_df[le_masque]
df_off_4['result_name'].unique()

array(['Недозвон', 'Отказ кандидата', nan], dtype=object)

Добавлено всё и убрали 'Время назначено'

In [32]:
le_masque = sorted_df['stage_name'] == 'Оформление'
le_masque &= sorted_df['activity_name'] == 'Узнать результаты медосмотра'
df_off_5 = sorted_df[le_masque]
df_off_5['result_name'].unique()

array(['Отказ кандидата', 'Недозвон', 'Резерв', 'Ожидание',
       'Время назначено', 'Подходит', 'Перенос звонка', 'Не подходит',
       nan], dtype=object)

7) Стадия 'Смена вакансии'

In [33]:
le_masque = sorted_df['stage_name'] == 'Смена вакансии'
df_sm = sorted_df[le_masque]
df_sm['activity_name'].unique()

array([nan], dtype=object)

8) Стадия 'Выход на работу'

In [34]:
le_masque = sorted_df['stage_name'] == 'Выход на работу'
df_exit = sorted_df[le_masque]
df_exit['activity_name'].unique()

array([nan, 'Узнать результаты приема'], dtype=object)

нету 'Проверить выход на работу'

In [35]:
le_masque = sorted_df['stage_name'] == 'Выход на работу'
le_masque &= sorted_df['activity_name'] == 'Проверить выход на работу'
df_exit_2 = sorted_df[le_masque]
df_exit_2['result_name'].unique()

array([], dtype=object)

нету 'Вышел'

In [36]:
le_masque = sorted_df['stage_name'] == 'Выход на работу'
le_masque &= sorted_df['activity_name'] == 'Узнать результаты приема'
df_exit_3 = sorted_df[le_masque]
df_exit_3['result_name'].unique()

array(['Принят'], dtype=object)

9) Стадия 'Отказался'

In [37]:
le_masque = sorted_df['stage_name'] == 'Отказался'
df_otk = sorted_df[le_masque]
df_otk['activity_name'].unique()

array([nan], dtype=object)

10) Стадия 'Резерв'

In [38]:
le_masque = sorted_df['stage_name'] == 'Резерв'
df_res = sorted_df[le_masque]
df_res['activity_name'].unique()

array([nan], dtype=object)

11) Стадия 'Ожидание'

In [39]:
le_masque = sorted_df['stage_name'] == 'Ожидание'
df_wait = sorted_df[le_masque]
df_wait['activity_name'].unique()

array(['Вернуть в воронку', 'Назначить время на оформление/медосмотр',
       'Провести первичную обработку', 'Узнать результаты приема',
       'Назначить интервью с руководителем'], dtype=object)

Нету Nan

In [40]:
le_masque = sorted_df['stage_name'] == 'Ожидание'
le_masque &= sorted_df['activity_name'] == 'Вернуть в воронку'
df_wait_1 = sorted_df[le_masque]
df_wait_1['result_name'].unique()

array(['Обработка', 'Интервью с руководителем',
       'Назначить время на оформление/медосмотр', nan, 'СБ', 'Оформление',
       'Подходит', 'Встреча назначена', 'Ожидание', 'Резерв',
       'Нет обратной связи', 'Недозвон', 'Принят', 'Отказ кандидата',
       'Подготовлена', 'В ожидании', 'Время назначено'], dtype=object)

Убрали 'Не подходит', добавили 'Резерв',  'Принят', 'Отказ кандидата','Подготовлена',  'Время назначено'

In [41]:
le_masque = sorted_df['stage_name'] == 'Ожидание'
le_masque &= sorted_df['activity_name'] == 'Назначить интервью с руководителем'
df_wait_2 = sorted_df[le_masque]
df_wait_2['result_name'].unique()

array(['Интервью с руководителем', 'Обработка', 'Встреча назначена'],
      dtype=object)

Добавили 'Встреча назначена'

In [42]:
le_masque = sorted_df['stage_name'] == 'Ожидание'
le_masque &= sorted_df['activity_name'] == 'Назначить время на оформление/медосмотр'
df_wait_3 = sorted_df[le_masque]
df_wait_3['result_name'].unique()

array(['Назначить время на оформление/медосмотр'], dtype=object)

In [43]:
le_masque = sorted_df['stage_name'] == 'Ожидание'
le_masque &= sorted_df['activity_name'] == 'Провести первичную обработку'
df_wait_4 = sorted_df[le_masque]
df_wait_4['result_name'].unique()

array(['Обработка'], dtype=object)

In [44]:
le_masque = sorted_df['stage_name'] == 'Ожидание'
le_masque &= sorted_df['activity_name'] == 'Узнать результаты приема'
df_wait_5 = sorted_df[le_masque]
df_wait_5['result_name'].unique()

array(['Оформление'], dtype=object)

12) Стадия 'Не прошел СБ'

In [45]:
le_masque = sorted_df['stage_name'] == 'Не прошел СБ'
df_dont = sorted_df[le_masque]
df_dont['activity_name'].unique()

array([nan, 'Вывести из черного списка'], dtype=object)

In [46]:
le_masque = sorted_df['stage_name'] == 'Не прошел СБ'
le_masque &= sorted_df['activity_name'] == 'Вывести из черного списка'
df_dont_1 = sorted_df[le_masque]
df_dont_1['result_name'].unique()

array(['В белый список', nan, 'Подходит', 'Не подходит'], dtype=object)

Добавили 'Подходит', 'Не подходит'

13) Стадия 'Мы отказали'

In [47]:
le_masque = sorted_df['stage_name'] == 'Мы отказали'
df_hz = sorted_df[le_masque]
df_hz['activity_name'].unique()

array([nan], dtype=object)

14) Стадия 'Черный список'

In [48]:
le_masque = sorted_df['stage_name'] == 'Черный список'
df_black = sorted_df[le_masque]
df_black['activity_name'].unique()

array(['Вывести из черного списка'], dtype=object)

In [49]:
le_masque = sorted_df['stage_name'] == 'Черный список'
le_masque &= sorted_df['activity_name'] == 'Вывести из черного списка'
df_black_1 = sorted_df[le_masque]
df_black_1['result_name'].unique()

array(['В белый список', nan, 'Недозвон', 'Черный список'], dtype=object)

Добавили 'Недозвон', 'Черный список'

15) Стадия 'Кадровый резерв'

In [50]:
le_masque = sorted_df['stage_name'] == 'Кадровый резерв'
df_res = sorted_df[le_masque]
df_res['activity_name'].unique()

array([], dtype=object)

Раньше здесь был Nan

In [51]:
sorted_df['stage_name'].value_counts()

Интервью с руководителем                      1277545
Обработка                                     1173274
Создание кандидата                             683044
СБ                                             681117
Оформление                                     515867
Назначение времени на оформление/медосмотр     122124
Смена вакансии                                 121717
Ожидание                                        17794
Не прошел СБ                                     2769
Отказался                                        1080
Черный список                                     248
Резерв                                            106
Групповое собеседование и тестирование             92
Выход на работу                                    78
Мы отказали                                        31
Гайд-интервью                                       8
Name: stage_name, dtype: int64

In [52]:
sorted_df['activity_name'].value_counts()

Узнать результаты интервью с руководителем                   733431
Провести первичную обработку                                 690109
Проверка формы обращения                                     683289
Назначить интервью с руководителем                           544117
Узнать результаты приема                                     271737
Узнать результаты СБ                                         241504
Подготовить анкету кандидата                                 239477
Назначить время на оформление/медосмотр                      199494
Назначить время на оформление/медосмотр (недозвон)           152015
Вернуть в воронку                                             17787
Узнать результаты медосмотра                                  14766
Вывести из черного списка                                      2909
Узнать результаты группового собеседования и тестирования        56
Назначить групповое собеседование и тестирование                 34
Назначить время на оформление                                    13
Назначить время для гайд-интервью                                 4
Узнать результаты гайд-интервью                                   4
Name: activity_name, dtype: int64

In [53]:
sorted_df['result_name'].value_counts()

Подходит                                   920447
Не резерв                                  683148
Встреча назначена                          493522
Недозвон                                   341565
Отказ кандидата                            271248
Нет обратной связи                         266419
Подготовлена                               239581
В ожидании                                 136940
Время назначено                            129024
Принят                                      81035
Не подходит                                 74620
Резерв                                      46110
Перенос кандидата                           44969
Ожидание                                    21860
Направлен на медосмотр                       6414
Перенос звонка                               5516
Интервью с руководителем                     5167
Оформление                                   4273
Назначить время на оформление/медосмотр      2697
Обработка                                    2243
Не принят                                    1182
В белый список                                389
СБ                                            367
Отказ руководителя                            333
Черный список                                 232
Уточнение данных                              213
Перенос руководителя                          125
Данные не предоставлены                         4
Не подготовлена                                 4
Тест - нет                                      2
Name: result_name, dtype: int64

In [54]:
sorted_df[sorted_df['stage_name'] == 'Выход на работу']

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
6162577,3331570,3034614,17771707,35908,2019-02-11 10:55:00.350364+00,Выход на работу,NaN,Принят,False
3344644,3343043,3041400,17310208,36776,2019-01-16 10:16:00.752743+00,Выход на работу,Узнать результаты приема,Принят,False
1944264,3347242,3010549,17285552,36890,2019-01-15 10:49:17.910869+00,Выход на работу,NaN,Недозвон,False
4525039,3349838,3045217,17700235,27626,2019-02-06 11:17:13.331011+00,Выход на работу,Узнать результаты приема,Принят,False
4381595,3357971,676098,17429263,25226,2019-01-22 11:49:28.044817+00,Выход на работу,Узнать результаты приема,Принят,False
...,...,...,...,...,...,...,...,...,...
5901044,4132917,3484744,22653383,34586,2019-10-11 13:41:09.777939+00,Выход на работу,NaN,Недозвон,False
3809671,4137078,956821,22745845,10286,2019-10-16 11:02:23.64957+00,Выход на работу,NaN,В ожидании,False
2462984,4140933,2933532,22647960,31378,2019-10-11 11:57:46.990721+00,Выход на работу,NaN,Недозвон,False
2501589,4146119,3195644,22752106,44263,2019-10-16 12:42:03.329601+00,Выход на работу,NaN,Принят,False
3839271,4159784,3499868,22753083,30402,2019-10-16 12:57:25.262765+00,Выход на работу,Узнать результаты приема,Принят,False

In [55]:
sorted_df[sorted_df['stage_name'] == 'Выход на работу']['result_name'].value_counts()

Принят                                     37
Недозвон                                   18
В ожидании                                 15
Время назначено                             5
Оформление                                  1
Отказ кандидата                             1
Назначить время на оформление/медосмотр     1
Name: result_name, dtype: int64

Видимо 37 вышли на работу???

In [56]:
sorted_df[sorted_df['id_applicant'] == 3331570]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
672244,3331570,3034614,-1,35908,2019-01-08 10:04:04.482845+00,Создание кандидата,NaN,NaN,False
6162587,3331570,3034614,17156443,35908,2019-01-08 10:04:22.892662+00,Обработка,Провести первичную обработку,Подходит,False
6162586,3331570,3034614,17156444,35908,2019-01-08 10:04:23.461659+00,Обработка,Проверка формы обращения,Не резерв,False
6162585,3331570,3034614,17156445,35908,2019-01-08 10:04:24.065739+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
6162584,3331570,3034614,17156446,35908,2019-01-08 10:04:24.59926+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
6162583,3331570,3034614,17156447,35908,2019-01-08 10:04:25.087287+00,СБ,Подготовить анкету кандидата,Подготовлена,False
6162580,3331570,3034614,17165888,35908,2019-01-09 10:39:07.256689+00,СБ,Узнать результаты СБ,Подходит,False
6162581,3331570,3034614,17165891,35908,2019-01-09 10:39:09.032821+00,СБ,Проверка формы обращения,Не резерв,False
6162582,3331570,3034614,17191700,35908,2019-01-10 09:26:46.401708+00,Оформление,Назначить время на оформление/медосмотр,Время назначено,False
6162579,3331570,3034614,17359418,35908,2019-01-17 16:42:53.922074+00,Оформление,Узнать результаты приема,В ожидании,False
6162578,3331570,3034614,17771595,35908,2019-02-11 10:52:58.796345+00,Оформление,Узнать результаты приема,Принят,False
6162577,3331570,3034614,17771707,35908,2019-02-11 10:55:00.350364+00,Выход на работу,NaN,Принят,False

Типичный сценарий по работе:
1. Cоздание кандидата
2. Обработка
- Провести первичную обработку (Подходит)
- Проверка формы обращения (Не резерв)
3. Интервью с руководителем
- Назначить интервью с руководителем (Встреча назначена)
- Узнать результаты интервью с руководителем (Подходит)
4. СБ
- Подготовить анкету кандидата (Подготовлена)
- Узнать результаты СБ (Подходит)
- Проверка формы обращения (Не резерв)
5. Оформление
- Назначить время на оформление/медосмотр (Время назначено)
- Узнать результаты приема (Принят)
6. Выход на работу

In [57]:
sorted_df[sorted_df['id_applicant'] == 4146119]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
5519,4146119,3195644,-1,44263,2019-10-08 08:16:03.643005+00,Создание кандидата,NaN,NaN,False
2501599,4146119,3195644,22557416,44263,2019-10-08 08:16:25.039659+00,Обработка,Провести первичную обработку,Подходит,False
2501603,4146119,3195644,22557418,44263,2019-10-08 08:16:25.572509+00,Обработка,Проверка формы обращения,Не резерв,False
2501602,4146119,3195644,22557419,44263,2019-10-08 08:16:26.197423+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
2501601,4146119,3195644,22557420,44263,2019-10-08 08:16:26.665729+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
2501600,4146119,3195644,22557421,44263,2019-10-08 08:16:27.14992+00,СБ,Подготовить анкету кандидата,Подготовлена,False
2501597,4146119,3195644,22566124,44263,2019-10-08 12:00:56.22559+00,СБ,Узнать результаты СБ,Подходит,False
2501598,4146119,3195644,22566126,44263,2019-10-08 12:00:57.055777+00,СБ,Проверка формы обращения,Не резерв,False
2501596,4146119,3195644,22566233,44263,2019-10-08 12:03:29.704726+00,Оформление,Назначить время на оформление/медосмотр,Недозвон,False
2501595,4146119,3195644,22566890,44263,2019-10-08 12:19:34.269541+00,Оформление,Назначить время на оформление/медосмотр (недоз...,Время назначено,False
2501592,4146119,3195644,22697336,44263,2019-10-14 15:50:41.386234+00,Оформление,Узнать результаты приема,Недозвон,False
2501591,4146119,3195644,22745725,44263,2019-10-16 11:00:19.695635+00,Оформление,Узнать результаты приема,Недозвон,False
2501590,4146119,3195644,22752085,44263,2019-10-16 12:41:37.140975+00,Оформление,Узнать результаты приема,Принят,False
2501589,4146119,3195644,22752106,44263,2019-10-16 12:42:03.329601+00,Выход на работу,NaN,Принят,False

In [62]:
sorted_df[(sorted_df['stage_name'] == 'Выход на работу') & (sorted_df['result_name'] == 'Принят')]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
6162577,3331570,3034614,17771707,35908,2019-02-11 10:55:00.350364+00,Выход на работу,NaN,Принят,False
3344644,3343043,3041400,17310208,36776,2019-01-16 10:16:00.752743+00,Выход на работу,Узнать результаты приема,Принят,False
4525039,3349838,3045217,17700235,27626,2019-02-06 11:17:13.331011+00,Выход на работу,Узнать результаты приема,Принят,False
4381595,3357971,676098,17429263,25226,2019-01-22 11:49:28.044817+00,Выход на работу,Узнать результаты приема,Принят,False
5550438,3373318,3058086,17877843,12141,2019-02-15 14:37:39.85403+00,Выход на работу,NaN,Принят,False
3461926,3396031,3070778,17660544,34306,2019-02-04 12:29:57.299038+00,Выход на работу,NaN,Принят,False
3456922,3407438,2764234,17877909,6511,2019-02-15 14:40:48.871325+00,Выход на работу,NaN,Принят,False
1961308,3418098,3083368,17699423,35148,2019-02-06 11:04:55.591384+00,Выход на работу,Узнать результаты приема,Принят,False
2862966,3419692,3084287,17724763,20465,2019-02-07 12:13:20.49096+00,Выход на работу,NaN,Принят,False
5757721,3443136,3071659,17800485,11156,2019-02-12 11:46:44.132568+00,Выход на работу,Узнать результаты приема,Принят,False
1498020,3445063,2786790,17924638,33458,2019-02-19 12:16:08.882321+00,Выход на работу,NaN,Принят,False
2864071,3445879,3099544,17931763,28075,2019-02-19 15:02:20.815944+00,Выход на работу,NaN,Принят,False
2473697,3480238,3118916,18660741,32896,2019-03-29 12:19:21.315331+00,Выход на работу,NaN,Принят,False
4137131,3485569,3091088,18166365,9916,2019-03-05 14:07:55.973524+00,Выход на работу,Узнать результаты приема,Принят,False
5141334,3487419,2552467,18044153,24992,2019-02-26 12:38:09.957911+00,Выход на работу,NaN,Принят,False
3376223,3523384,2794379,18391666,34931,2019-03-18 15:21:18.963068+00,Выход на работу,Узнать результаты приема,Принят,False
2935983,3545102,3155225,18601881,36113,2019-03-27 14:49:03.858615+00,Выход на работу,Узнать результаты приема,Принят,False
5272508,3556362,3161635,18533221,7830,2019-03-25 12:11:53.428924+00,Выход на работу,Узнать результаты приема,Принят,False
6299485,3561624,1948853,18601882,44581,2019-03-27 14:49:04.207878+00,Выход на работу,Узнать результаты приема,Принят,False
1471254,3570959,3169326,19642382,44796,2019-05-22 12:31:53.85214+00,Выход на работу,NaN,Принят,False
4466495,3613254,3174696,19005244,36785,2019-04-16 11:33:56.366935+00,Выход на работу,NaN,Принят,False
2534977,3636983,3089420,19857982,5793,2019-05-31 18:49:12.571522+00,Выход на работу,Узнать результаты приема,Принят,False
5395550,3651373,3199794,19423140,28579,2019-05-13 13:22:38.739625+00,Выход на работу,Узнать результаты приема,Принят,False
3567215,3704415,992350,19554485,10961,2019-05-17 14:35:58.855472+00,Выход на работу,NaN,Принят,False
1332024,3712965,3247946,19866924,6737,2019-06-03 12:02:27.360007+00,Выход на работу,Узнать результаты приема,Принят,False
1291276,3748619,3266649,19736893,11926,2019-05-27 13:24:56.668662+00,Выход на работу,NaN,Принят,False
3380637,3759612,3090799,20863012,6769,2019-07-18 16:35:37.90046+00,Выход на работу,NaN,Принят,False
1221363,3759960,709518,19866923,6968,2019-06-03 12:02:27.104927+00,Выход на работу,Узнать результаты приема,Принят,False
2278159,3765688,1832493,19866925,5818,2019-06-03 12:02:27.877698+00,Выход на работу,Узнать результаты приема,Принят,False
1019784,3802426,3295691,20185060,10552,2019-06-19 12:48:01.540035+00,Выход на работу,Узнать результаты приема,Принят,False
4959698,3900496,3351338,20945527,11693,2019-07-23 13:03:57.727662+00,Выход на работу,NaN,Принят,False
4654656,3914800,3359742,21114212,30815,2019-07-30 16:42:40.509863+00,Выход на работу,NaN,Принят,False
3580965,3924372,3353635,21032282,45797,2019-07-25 18:15:25.972399+00,Выход на работу,Узнать результаты приема,Принят,False
2781394,4083165,3454671,22538319,34938,2019-10-07 11:52:01.096648+00,Выход на работу,NaN,Принят,False
5491658,4132727,3484639,22700385,30371,2019-10-14 16:46:30.33365+00,Выход на работу,NaN,Принят,False
2501589,4146119,3195644,22752106,44263,2019-10-16 12:42:03.329601+00,Выход на работу,NaN,Принят,False
3839271,4159784,3499868,22753083,30402,2019-10-16 12:57:25.262765+00,Выход на работу,Узнать результаты приема,Принят,False

In [64]:
sorted_df[sorted_df['id_applicant'] == 3802426]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
16896,3802426,3295691,-1,10552,2019-06-14 13:12:58.180417+00,Создание кандидата,NaN,NaN,False
1019783,3802426,3295691,20101802,10552,2019-06-14 13:13:26.180487+00,Обработка,Провести первичную обработку,Подходит,False
1019782,3802426,3295691,20101803,10552,2019-06-14 13:13:27.239597+00,Обработка,Проверка формы обращения,Не резерв,False
1019781,3802426,3295691,20101806,10552,2019-06-14 13:13:28.112912+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
1019780,3802426,3295691,20101810,10552,2019-06-14 13:13:29.241489+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
1019779,3802426,3295691,20101812,10552,2019-06-14 13:13:29.953184+00,СБ,Подготовить анкету кандидата,Подготовлена,False
1019785,3802426,3295691,20115055,10552,2019-06-17 07:28:08.779162+00,СБ,Узнать результаты СБ,Подходит,False
1019786,3802426,3295691,20115056,10552,2019-06-17 07:28:09.679222+00,СБ,Проверка формы обращения,Не резерв,False
1019778,3802426,3295691,20116755,10552,2019-06-17 09:15:34.149556+00,Оформление,Назначить время на оформление/медосмотр,Время назначено,False
1019777,3802426,3295691,20162672,10552,2019-06-18 14:41:07.039866+00,Оформление,Узнать результаты приема,В ожидании,False
1019784,3802426,3295691,20185060,10552,2019-06-19 12:48:01.540035+00,Выход на работу,Узнать результаты приема,Принят,False

In [65]:
sorted_df[sorted_df['id_applicant'] == 3914800]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
916398,3914800,3359742,-1,30815,2019-07-23 16:03:54.447854+00,Создание кандидата,NaN,NaN,False
4654666,3914800,3359742,20956238,30815,2019-07-23 16:04:19.825056+00,Обработка,Провести первичную обработку,Подходит,False
4654665,3914800,3359742,20956241,30815,2019-07-23 16:04:21.327389+00,Обработка,Проверка формы обращения,Не резерв,False
4654664,3914800,3359742,20956243,30815,2019-07-23 16:04:22.509789+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
4654663,3914800,3359742,20956244,30815,2019-07-23 16:04:24.174927+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
4654662,3914800,3359742,20956246,30815,2019-07-23 16:04:25.542266+00,СБ,Подготовить анкету кандидата,Подготовлена,False
4654667,3914800,3359742,20969863,30815,2019-07-24 10:27:00.500587+00,СБ,Узнать результаты СБ,Подходит,False
4654668,3914800,3359742,20969864,30815,2019-07-24 10:27:01.657166+00,СБ,Проверка формы обращения,Не резерв,False
4654661,3914800,3359742,21001827,30815,2019-07-25 10:01:26.913808+00,Оформление,Назначить время на оформление/медосмотр,Время назначено,False
4654660,3914800,3359742,21057947,30815,2019-07-26 16:07:13.366003+00,Оформление,Узнать результаты приема,В ожидании,False
4654657,3914800,3359742,21110833,30815,2019-07-30 15:32:54.185775+00,Оформление,Узнать результаты приема,В ожидании,False
4654655,3914800,3359742,21114211,30815,2019-07-30 16:42:30.690081+00,Оформление,Узнать результаты приема,Принят,False
4654656,3914800,3359742,21114212,30815,2019-07-30 16:42:40.509863+00,Выход на работу,NaN,Принят,False

In [66]:
sorted_df[(sorted_df['stage_name'] == 'Выход на работу') & (sorted_df['result_name'] == 'Недозвон')]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
1944264,3347242,3010549,17285552,36890,2019-01-15 10:49:17.910869+00,Выход на работу,NaN,Недозвон,False
2626525,3411446,3079469,17740976,5894,2019-02-08 10:14:02.239495+00,Выход на работу,NaN,Недозвон,False
4906282,3552996,3136624,18468859,8299,2019-03-21 12:51:15.451927+00,Выход на работу,NaN,Недозвон,False
5942857,3588518,2272632,21187027,8282,2019-08-02 12:16:44.2326+00,Выход на работу,NaN,Недозвон,False
2340990,3601555,3158912,18781340,29975,2019-04-04 16:05:29.28055+00,Выход на работу,NaN,Недозвон,False
3940241,3693653,3237063,19372019,9172,2019-05-07 16:13:11.825575+00,Выход на работу,NaN,Недозвон,False
4580916,3708842,3240375,19516476,11976,2019-05-16 13:02:19.724866+00,Выход на работу,NaN,Недозвон,False
1511004,3722959,3253294,19586277,9671,2019-05-20 15:05:42.236019+00,Выход на работу,NaN,Недозвон,False
4642509,3884337,3341430,20771774,30673,2019-07-15 16:57:55.994632+00,Выход на работу,NaN,Недозвон,False
2453303,3968488,3390691,21373718,36661,2019-08-12 16:16:17.103738+00,Выход на работу,NaN,Недозвон,False
4815425,4029248,2114383,21819348,8319,2019-09-03 12:59:22.22818+00,Выход на работу,NaN,Недозвон,False
3111065,4080166,3449929,22248774,33697,2019-09-23 12:50:24.319463+00,Выход на работу,NaN,Недозвон,False
3634833,4080795,2770910,22644577,35102,2019-10-11 10:59:04.600654+00,Выход на работу,NaN,Недозвон,False
1490085,4086337,3458469,22517176,8336,2019-10-04 15:18:01.141193+00,Выход на работу,NaN,Недозвон,False
3485252,4123434,2233980,22548489,6408,2019-10-07 15:09:10.214919+00,Выход на работу,NaN,Недозвон,False
2830015,4129842,2852180,22620811,30515,2019-10-10 12:01:25.448074+00,Выход на работу,NaN,Недозвон,False
5901044,4132917,3484744,22653383,34586,2019-10-11 13:41:09.777939+00,Выход на работу,NaN,Недозвон,False
2462984,4140933,2933532,22647960,31378,2019-10-11 11:57:46.990721+00,Выход на работу,NaN,Недозвон,False

In [67]:
sorted_df[sorted_df['id_applicant'] == 3347242]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
540158,3347242,3010549,-1,36890,2019-01-11 15:59:04.541444+00,Создание кандидата,NaN,NaN,False
1944273,3347242,3010549,17241798,36890,2019-01-11 16:02:49.51133+00,Обработка,Провести первичную обработку,Подходит,False
1944272,3347242,3010549,17241799,36890,2019-01-11 16:02:50.238283+00,Обработка,Проверка формы обращения,Не резерв,False
1944271,3347242,3010549,17241800,36890,2019-01-11 16:02:50.865018+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
1944270,3347242,3010549,17241801,36890,2019-01-11 16:02:51.443196+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
1944269,3347242,3010549,17241804,36890,2019-01-11 16:02:52.06183+00,СБ,Подготовить анкету кандидата,Подготовлена,False
1944267,3347242,3010549,17256688,36890,2019-01-14 10:32:51.98518+00,СБ,Узнать результаты СБ,Подходит,False
1944268,3347242,3010549,17256689,36890,2019-01-14 10:32:52.583095+00,СБ,Проверка формы обращения,Не резерв,False
1944265,3347242,3010549,17284745,36890,2019-01-15 10:34:49.660414+00,Оформление,Назначить время на оформление/медосмотр,Время назначено,False
1944266,3347242,3010549,17284749,36890,2019-01-15 10:34:54.703101+00,Оформление,Узнать результаты приема,Принят,False
1944264,3347242,3010549,17285552,36890,2019-01-15 10:49:17.910869+00,Выход на работу,NaN,Недозвон,False
1944280,3347242,3010549,17291401,36890,2019-01-15 12:49:30.011123+00,Назначение времени на оформление/медосмотр,Назначить время на оформление/медосмотр (недоз...,Подходит,False
1944281,3347242,3010549,17291402,36890,2019-01-15 12:49:30.693307+00,Обработка,Проверка формы обращения,Не резерв,False
1944279,3347242,3010549,17291403,36890,2019-01-15 12:49:31.318697+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
1944278,3347242,3010549,17291404,36890,2019-01-15 12:49:31.880335+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
1944277,3347242,3010549,17291407,36890,2019-01-15 12:49:32.529484+00,СБ,Подготовить анкету кандидата,Подготовлена,False
1944276,3347242,3010549,17291409,36890,2019-01-15 12:49:33.00678+00,СБ,Узнать результаты СБ,Подходит,False
1944275,3347242,3010549,17291411,36890,2019-01-15 12:49:33.614067+00,СБ,Проверка формы обращения,Не резерв,False
1944274,3347242,3010549,17291412,36890,2019-01-15 12:49:34.315361+00,Оформление,Назначить время на оформление/медосмотр,Время назначено,False
1944282,3347242,3010549,17291419,36890,2019-01-15 12:49:46.369755+00,Оформление,Узнать результаты приема,Принят,False

Зачем из-за недозвона Назначение времени на оформление/медосмотр начинается это?
Потом все идёт заново

In [68]:
sorted_df[(sorted_df['stage_name'] == 'Выход на работу') & (sorted_df['result_name'] == 'В ожидании')]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
2780554,3496861,3128672,18139036,31048,2019-03-04 13:55:19.967448+00,Выход на работу,NaN,В ожидании,False
4159267,3508865,3135346,18275977,6880,2019-03-12 16:38:16.389023+00,Выход на работу,NaN,В ожидании,False
3675505,3512384,3137311,18242631,11178,2019-03-11 14:05:37.050228+00,Выход на работу,NaN,В ожидании,False
1409313,3572361,3170072,18957839,29974,2019-04-12 13:41:50.850344+00,Выход на работу,NaN,В ожидании,False
3422191,3751221,3268017,19793294,34634,2019-05-29 12:47:13.660937+00,Выход на работу,NaN,В ожидании,False
4390370,3778312,3261830,19945584,31531,2019-06-06 13:32:53.499335+00,Выход на работу,NaN,В ожидании,False
1051981,3804824,3297036,21089508,6066,2019-07-29 17:43:30.790258+00,Выход на работу,NaN,В ожидании,False
3807047,3858303,3326700,20602190,9703,2019-07-08 12:28:16.167875+00,Выход на работу,NaN,В ожидании,False
2489290,3943279,3376665,21243788,9387,2019-08-06 13:54:24.635398+00,Выход на работу,NaN,В ожидании,False
4518023,3983109,3399032,21735730,12030,2019-08-29 14:41:46.696567+00,Выход на работу,NaN,В ожидании,False
4744867,4114537,3474274,22452006,44504,2019-10-02 12:11:02.855478+00,Выход на работу,NaN,В ожидании,False
3432767,4119510,2054045,22481417,7795,2019-10-03 12:36:42.564738+00,Выход на работу,NaN,В ожидании,False
2201163,4130929,2957215,22713228,30240,2019-10-15 11:16:17.057935+00,Выход на работу,NaN,В ожидании,False
1566028,4131149,3146256,22550034,33464,2019-10-07 15:41:15.488846+00,Выход на работу,NaN,В ожидании,False
3809671,4137078,956821,22745845,10286,2019-10-16 11:02:23.64957+00,Выход на работу,NaN,В ожидании,False

In [69]:
sorted_df[sorted_df['id_applicant'] == 3496861]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
759473,3496861,3128672,-1,31048,2019-02-28 14:41:24.742515+00,Создание кандидата,NaN,NaN,False
2780563,3496861,3128672,18093186,31048,2019-02-28 14:41:41.116399+00,Обработка,Провести первичную обработку,Подходит,False
2780562,3496861,3128672,18093187,31048,2019-02-28 14:41:41.734488+00,Обработка,Проверка формы обращения,Не резерв,False
2780561,3496861,3128672,18093188,31048,2019-02-28 14:41:42.427046+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
2780560,3496861,3128672,18093189,31048,2019-02-28 14:41:43.0208+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
2780559,3496861,3128672,18093190,31048,2019-02-28 14:41:43.646833+00,СБ,Подготовить анкету кандидата,Подготовлена,False
2780558,3496861,3128672,18105783,31048,2019-03-01 10:08:31.300892+00,СБ,Узнать результаты СБ,Подходит,False
2780557,3496861,3128672,18105784,31048,2019-03-01 10:08:31.937832+00,СБ,Проверка формы обращения,Не резерв,False
2780556,3496861,3128672,18138986,31048,2019-03-04 13:54:14.531127+00,Оформление,Назначить время на оформление/медосмотр,Время назначено,False
2780555,3496861,3128672,18138992,31048,2019-03-04 13:54:35.577527+00,Оформление,Узнать результаты приема,Принят,False
2780554,3496861,3128672,18139036,31048,2019-03-04 13:55:19.967448+00,Выход на работу,NaN,В ожидании,False
2780564,3496861,3128672,18271103,31048,2019-03-12 15:09:58.107066+00,Оформление,Узнать результаты приема,В ожидании,False
2780553,3496861,3128672,18606668,31048,2019-03-27 15:54:29.464991+00,Оформление,Узнать результаты приема,Принят,False

In [70]:
sorted_df[(sorted_df['stage_name'] == 'Выход на работу') & (sorted_df['result_name'] == 'Отказ кандидата')]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
2338596,4055474,3438477,22306457,31599,2019-09-25 13:12:17.295683+00,Выход на работу,NaN,Отказ кандидата,False

In [71]:
sorted_df[sorted_df['id_applicant'] == 4055474]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
14278,4055474,3438477,-1,31599,2019-09-09 12:01:25.380753+00,Создание кандидата,NaN,NaN,False
2338613,4055474,3438477,21929369,31599,2019-09-09 12:02:15.991266+00,Обработка,Провести первичную обработку,Подходит,False
2338612,4055474,3438477,21929371,31599,2019-09-09 12:02:17.715687+00,Обработка,Проверка формы обращения,Не резерв,False
2338611,4055474,3438477,21929374,31599,2019-09-09 12:02:19.137862+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
2338610,4055474,3438477,21929376,31599,2019-09-09 12:02:20.623494+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
2338609,4055474,3438477,21929379,31599,2019-09-09 12:02:21.892619+00,СБ,Подготовить анкету кандидата,Подготовлена,False
2338607,4055474,3438477,21939264,31599,2019-09-09 16:06:13.211889+00,СБ,Узнать результаты СБ,Подходит,False
2338608,4055474,3438477,21939265,31599,2019-09-09 16:06:14.662314+00,СБ,Проверка формы обращения,Не резерв,False
2338606,4055474,3438477,21948998,31599,2019-09-10 09:34:49.426659+00,Оформление,Назначить время на оформление/медосмотр,Недозвон,False
2338605,4055474,3438477,21954712,31599,2019-09-10 11:47:07.080371+00,Оформление,Назначить время на оформление/медосмотр (недоз...,Время назначено,False
2338604,4055474,3438477,21954735,31599,2019-09-10 11:47:38.880142+00,Оформление,Узнать результаты приема,В ожидании,False
2338601,4055474,3438477,22037211,31599,2019-09-13 11:13:18.636566+00,Оформление,Узнать результаты приема,Недозвон,False
2338600,4055474,3438477,22134862,31599,2019-09-18 09:52:42.111647+00,Оформление,Узнать результаты приема,В ожидании,False
2338599,4055474,3438477,22152127,31599,2019-09-18 14:50:16.060665+00,Оформление,Узнать результаты приема,В ожидании,False
2338598,4055474,3438477,22223756,31599,2019-09-20 17:23:08.978151+00,Оформление,Узнать результаты приема,В ожидании,False
2338597,4055474,3438477,22306449,31599,2019-09-25 13:11:54.915028+00,Оформление,Узнать результаты приема,Принят,False
2338596,4055474,3438477,22306457,31599,2019-09-25 13:12:17.295683+00,Выход на работу,NaN,Отказ кандидата,False

In [72]:
sorted_df[(sorted_df['stage_name'] == 'Обработка') & (sorted_df['activity_name'] == 'Провести первичную обработку') & (sorted_df['result_name'] == 'Недозвон')]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
6301071,3330765,1489512,17153664,36418,2019-01-03 09:11:13.479654+00,Обработка,Провести первичную обработку,Недозвон,False
6301070,3330765,1489512,17153942,36418,2019-01-04 09:39:54.779877+00,Обработка,Провести первичную обработку,Недозвон,False
2788261,3330766,3034095,17153665,36418,2019-01-03 09:15:01.730998+00,Обработка,Провести первичную обработку,Недозвон,False
4946700,3330767,3034096,17153666,42948,2019-01-03 09:15:49.476632+00,Обработка,Провести первичную обработку,Недозвон,False
4946699,3330767,3034096,17153924,42948,2019-01-04 09:17:32.185876+00,Обработка,Провести первичную обработку,Недозвон,False
...,...,...,...,...,...,...,...,...,...
4272736,4188026,3515493,22822878,10392,2019-10-18 14:08:06.262172+00,Обработка,Провести первичную обработку,Недозвон,False
2519496,4188303,3515647,22824607,28799,2019-10-18 14:39:04.765746+00,Обработка,Провести первичную обработку,Недозвон,False
4582074,4188379,3515696,22825226,11100,2019-10-18 14:50:05.573524+00,Обработка,Провести первичную обработку,Недозвон,False
6314235,4188612,2486968,22826858,17507,2019-10-18 15:18:39.21186+00,Обработка,Провести первичную обработку,Недозвон,False
2006426,4188775,3515908,22827897,9154,2019-10-18 15:37:23.988159+00,Обработка,Провести первичную обработку,Недозвон,False

In [73]:
sorted_df[sorted_df['id_applicant'] == 3330765]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
127793,3330765,1489512,-1,36418,2019-01-03 09:10:45.722121+00,Создание кандидата,NaN,NaN,False
6301071,3330765,1489512,17153664,36418,2019-01-03 09:11:13.479654+00,Обработка,Провести первичную обработку,Недозвон,False
6301070,3330765,1489512,17153942,36418,2019-01-04 09:39:54.779877+00,Обработка,Провести первичную обработку,Недозвон,False
6301069,3330765,1489512,17154303,36418,2019-01-05 10:38:33.865147+00,Обработка,Провести первичную обработку,Отказ кандидата,False

In [75]:
sorted_df[sorted_df['id_applicant'] == 3330767]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
204869,3330767,3034096,-1,42948,2019-01-03 09:15:31.113369+00,Создание кандидата,NaN,NaN,False
4946700,3330767,3034096,17153666,42948,2019-01-03 09:15:49.476632+00,Обработка,Провести первичную обработку,Недозвон,False
4946699,3330767,3034096,17153924,42948,2019-01-04 09:17:32.185876+00,Обработка,Провести первичную обработку,Недозвон,False
4946698,3330767,3034096,17154291,42948,2019-01-05 10:15:37.712234+00,Обработка,Провести первичную обработку,Отказ кандидата,False

In [76]:
sorted_df[(sorted_df['stage_name'] == 'Обработка') & (sorted_df['activity_name'] == 'Провести первичную обработку') & (sorted_df['result_name'] == 'Резерв')]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
4499499,3330923,3034207,17153965,31889,2019-01-04 10:12:28.081337+00,Обработка,Провести первичную обработку,Резерв,False
1772123,3330966,3034233,17154025,17888,2019-01-04 11:56:42.05199+00,Обработка,Провести первичную обработку,Резерв,False
5842067,3331016,3034261,17154135,32786,2019-01-04 15:01:06.966476+00,Обработка,Провести первичную обработку,Резерв,False
2253488,3331111,3034321,17154405,30160,2019-01-05 14:53:27.857382+00,Обработка,Провести первичную обработку,Резерв,False
4418606,3332223,2470998,17159711,35474,2019-01-09 06:26:41.014843+00,Обработка,Провести первичную обработку,Резерв,False
...,...,...,...,...,...,...,...,...,...
6263442,4188623,3476701,22826819,11294,2019-10-18 15:18:09.631148+00,Обработка,Провести первичную обработку,Резерв,False
1651036,4188674,3101883,22827179,43845,2019-10-18 15:24:31.263553+00,Обработка,Провести первичную обработку,Резерв,False
2891073,4188745,3515875,22827693,32193,2019-10-18 15:34:09.901311+00,Обработка,Провести первичную обработку,Резерв,False
4462729,4188809,3421221,22828109,45270,2019-10-18 15:40:56.460081+00,Обработка,Провести первичную обработку,Резерв,False
3230597,4188816,3515911,22828165,45000,2019-10-18 15:41:56.509847+00,Обработка,Провести первичную обработку,Резерв,False

In [81]:
sorted_df[sorted_df['id_applicant'] == 4188809]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
687230,4188809,3421221,-1,45270,2019-10-18 15:40:47.360166+00,Создание кандидата,NaN,NaN,False
4462729,4188809,3421221,22828109,45270,2019-10-18 15:40:56.460081+00,Обработка,Провести первичную обработку,Резерв,False

In [82]:
sorted_df[(sorted_df['stage_name'] == 'Обработка') & (sorted_df['activity_name'] == 'Провести первичную обработку') & (sorted_df['result_name'] == 'Черный список')]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
5733977,3380613,2314072,17441505,32136,2019-01-22 17:09:21.057299+00,Обработка,Провести первичную обработку,Черный список,False
1832385,3385595,2779076,17471307,30849,2019-01-23 18:02:45.903966+00,Обработка,Провести первичную обработку,Черный список,False
1827523,3788171,2662379,21461222,45759,2019-08-16 01:51:14.092213+00,Обработка,Провести первичную обработку,Черный список,False
4468085,3981139,3397923,22632398,12102,2019-10-10 16:24:19.625813+00,Обработка,Провести первичную обработку,Черный список,False
4405543,4014786,2268451,21650520,28692,2019-08-26 14:12:04.538737+00,Обработка,Провести первичную обработку,Черный список,False
...,...,...,...,...,...,...,...,...,...
5662997,4020316,3287901,21686917,12219,2019-08-27 17:39:07.250213+00,Обработка,Провести первичную обработку,Черный список,False
4304238,4020319,3308999,21686955,27344,2019-08-27 17:40:11.663422+00,Обработка,Провести первичную обработку,Черный список,False
3515794,4020330,3420043,21687035,12554,2019-08-27 17:42:07.749879+00,Обработка,Провести первичную обработку,Черный список,False
1710769,4109369,2719208,22601751,46344,2019-10-09 15:13:46.090181+00,Обработка,Провести первичную обработку,Черный список,False
5048945,4186558,3488227,22826823,12423,2019-10-18 15:18:16.654075+00,Обработка,Провести первичную обработку,Черный список,False

In [83]:
sorted_df[sorted_df['id_applicant'] == 3380613]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
7854,3380613,2314072,-1,32136,2019-01-22 17:05:30.530109+00,Создание кандидата,NaN,NaN,False
5733977,3380613,2314072,17441505,32136,2019-01-22 17:09:21.057299+00,Обработка,Провести первичную обработку,Черный список,False
5733976,3380613,2314072,17441877,32136,2019-01-22 17:18:33.99191+00,Черный список,Вывести из черного списка,В белый список,False