# Данные за 2018 год

In [30]:
import pandas as pd
import numpy as np

# Загружаем наш датасет с исходными данными
data = pd.read_csv("C:\\Users\\anna.nazarova\\Desktop\\Мага\\НИР\\with_closed_ations_as________select_app_2018_X5_STORES.csv")
data

C:\Users\anna.nazarova\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,3080432,2883423,-1,9044,2018-10-16 18:11:10.00318+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
1,2873477,2761171,-1,32087,2018-08-15 10:36:32.936322+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
2,2896621,2776555,-1,32087,2018-08-22 14:09:27.083354+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
3,2906437,2782282,-1,32087,2018-08-24 15:55:27.912704+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
4,2965200,2816229,-1,32087,2018-09-11 15:00:49.242929+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
7211284,3221933,2968967,-1,25660,2020-04-23 15:05:45.859137+00,Интервью с руководителем,Узнать результаты интервью с руководителем,NaN,Продавец-кассир,True,True
7211285,3007369,2840731,-1,10687,2020-04-23 15:05:45.859137+00,Оформление,Узнать результаты приема,NaN,Продавец-кассир,True,True
7211286,3230514,2974049,-1,10718,2020-04-23 15:05:45.859137+00,Оформление,Узнать результаты приема,NaN,Продавец-кассир,True,True
7211287,3117018,2905192,-1,10718,2020-04-23 15:05:45.859137+00,Назначение времени на оформление/медосмотр,Назначить время на оформление/медосмотр (недоз...,NaN,Продавец-кассир,True,True
7211288,2581506,2596820,-1,10718,2020-04-23 15:05:45.859137+00,Ожидание,Вернуть в воронку,NaN,Продавец-кассир,True,True

Нас интересует найм только продавцов-кассиров. Кроме того, оставим для анализа только активные записи:

In [31]:
le_masque = data['position_name'] == 'Продавец-кассир'
le_masque &= data['is_active_action'] == True
df_seller = data[le_masque]
df_seller

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,3080432,2883423,-1,9044,2018-10-16 18:11:10.00318+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
1,2873477,2761171,-1,32087,2018-08-15 10:36:32.936322+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
2,2896621,2776555,-1,32087,2018-08-22 14:09:27.083354+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
3,2906437,2782282,-1,32087,2018-08-24 15:55:27.912704+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
4,2965200,2816229,-1,32087,2018-09-11 15:00:49.242929+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
7211284,3221933,2968967,-1,25660,2020-04-23 15:05:45.859137+00,Интервью с руководителем,Узнать результаты интервью с руководителем,NaN,Продавец-кассир,True,True
7211285,3007369,2840731,-1,10687,2020-04-23 15:05:45.859137+00,Оформление,Узнать результаты приема,NaN,Продавец-кассир,True,True
7211286,3230514,2974049,-1,10718,2020-04-23 15:05:45.859137+00,Оформление,Узнать результаты приема,NaN,Продавец-кассир,True,True
7211287,3117018,2905192,-1,10718,2020-04-23 15:05:45.859137+00,Назначение времени на оформление/медосмотр,Назначить время на оформление/медосмотр (недоз...,NaN,Продавец-кассир,True,True
7211288,2581506,2596820,-1,10718,2020-04-23 15:05:45.859137+00,Ожидание,Вернуть в воронку,NaN,Продавец-кассир,True,True

In [32]:
df_seller.columns #названия колонок

Index(['id_applicant', 'id_partner', 'id_log', 'department_id', 'action_date',
       'stage_name', 'activity_name', 'result_name', 'position_name',
       'is_active_action', 'is_open_action'],
      dtype='object')

Предполагаю, что колонки отражают следующую информацию:
###### 1) идентификатор кандидата;
###### 2) идентификатор партнера (думаю, речь о компании, в которую мы побираем кандидата - 5-ка и т.д.);
###### 3) идентификатор записи (номер записи в логе, одна запись (строчка) = один айдишник);
###### 4) дата и время действия со стороны компании; 
###### 5) наименование стадии процесса найма;
###### 6) наименование активности внутри этой стадии;
###### 7) результат активности п.6;
###### 8) наименование должности (можем удалить, оставили только продавцов-кассиром по условию);
###### 9) флаг актуальности действия (можем удалить, оставили только актуальные записи)
###### 10) открыто ли действие на данный момент

In [33]:
sorted_df = df_seller.sort_values(by = ['id_applicant', 'action_date']) #отсортируем данные по кандидату и дате действия 
sorted_df = sorted_df.drop(['position_name', 'is_active_action'], axis =1)
sorted_df

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
1090921,2196745,2281753,-1,25165,2018-01-05 06:20:57.274499+00,Создание кандидата,NaN,NaN,False
6407648,2196745,2281753,10890124,25165,2018-01-05 06:21:16.616158+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
6407647,2196745,2281753,10890125,25165,2018-01-05 06:21:17.145886+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
6407646,2196745,2281753,10890126,25165,2018-01-05 06:21:17.616696+00,СБ,Подготовить анкету кандидата,Подготовлена,False
6407642,2196745,2281753,11280536,25165,2018-01-29 15:43:47.354909+00,Обработка,Провести первичную обработку,Подходит,False
...,...,...,...,...,...,...,...,...,...
3376830,3330735,1970383,17153319,32843,2018-12-29 19:25:47.832687+00,Обработка,Проверка формы обращения,Не резерв,False
3376829,3330735,1970383,17153320,32843,2018-12-29 19:25:58.002618+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
3376828,3330735,1970383,17231319,32843,2019-01-11 12:26:29.466622+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи,False
3376827,3330735,1970383,17279875,32843,2019-01-15 09:19:37.355139+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи,False
3376824,3330735,1970383,17394979,32843,2019-01-21 09:51:38+00,Смена вакансии,NaN,NaN,False

In [34]:
sorted_df['stage_name'].unique() # уникальные стадии найма

array(['Создание кандидата', 'Интервью с руководителем', 'СБ',
       'Обработка', 'Назначение времени на оформление/медосмотр',
       'Оформление', 'Смена вакансии', 'Выход на работу', 'Отказался',
       'Резерв', 'Ожидание', 'Не прошел СБ', 'Мы отказали',
       'Черный список', 'Кадровый резерв'], dtype=object)

Для каждой стадии хочу посмотреть активности и их результаты

1) Стадия 'Создание кандидата'

In [63]:
le_masque = sorted_df['stage_name'] == 'Создание кандидата'
df_create = sorted_df[le_masque]
df_create['activity_name'].unique()

array([nan], dtype=object)

2) Стадия 'Интервью с руководителем'

In [64]:
le_masque = sorted_df['stage_name'] == 'Интервью с руководителем'
df_inter = sorted_df[le_masque]
df_inter['activity_name'].unique()

array(['Назначить интервью с руководителем',
       'Узнать результаты интервью с руководителем',
       'Подготовить анкету кандидата'], dtype=object)

In [65]:
le_masque = sorted_df['stage_name'] == 'Интервью с руководителем'
le_masque &= sorted_df['activity_name'] == 'Назначить интервью с руководителем'
df_inter_2 = sorted_df[le_masque]
df_inter_2['result_name'].unique()

array(['Встреча назначена', 'Резерв', 'Отказ кандидата',
       'Нет обратной связи', 'Отказ руководителя', 'Подходит', nan,
       'Перенос звонка', 'Ожидание', 'Недозвон', 'Перенос кандидата',
       'Интервью с руководителем', 'Не подходит', 'Обработка', 'Принят'],
      dtype=object)

In [66]:
le_masque = sorted_df['stage_name'] == 'Интервью с руководителем'
le_masque &= sorted_df['activity_name'] == 'Узнать результаты интервью с руководителем'
df_inter_3 = sorted_df[le_masque]
df_inter_3['result_name'].unique()

array(['Подходит', 'Нет обратной связи', 'Отказ кандидата', 'Резерв',
       'Перенос кандидата', 'Не подходит', 'Встреча назначена',
       'Перенос руководителя', 'Недозвон', nan, 'Ожидание',
       'Перенос звонка', 'Интервью с руководителем', 'Черный список'],
      dtype=object)

In [67]:
le_masque = sorted_df['stage_name'] == 'Интервью с руководителем'
le_masque &= sorted_df['activity_name'] == 'Подготовить анкету кандидата'
df_inter_4 = sorted_df[le_masque]
df_inter_4['result_name'].unique()

array(['Подходит'], dtype=object)

3) Стадия 'СБ' -- служба безопасности

In [68]:
le_masque = sorted_df['stage_name'] == 'СБ'
df_sb = sorted_df[le_masque]
df_sb['activity_name'].unique()

array(['Подготовить анкету кандидата', 'Узнать результаты СБ',
       'Получить согласование повторного приема и отправить в СБ',
       'Проверка формы обращения'], dtype=object)

In [69]:
le_masque = sorted_df['stage_name'] == 'СБ'
le_masque &= sorted_df['activity_name'] == 'Подготовить анкету кандидата'
df_sb_2 = sorted_df[le_masque]
df_sb_2['result_name'].unique()

array(['Подготовлена', 'Отказ кандидата', 'Не подготовлена', 'Подходит',
       'Резерв', 'Встреча назначена', nan, 'СБ', 'Ожидание',
       'Нет обратной связи', 'Данные не предоставлены'], dtype=object)

In [70]:
le_masque = sorted_df['stage_name'] == 'СБ'
le_masque &= sorted_df['activity_name'] == 'Узнать результаты СБ'
df_sb_3 = sorted_df[le_masque]
df_sb_3['result_name'].unique()

array(['Подходит', 'Не подходит', 'Нет обратной связи',
       'Уточнение данных', 'Согласование повторного приема',
       'Подготовлена', 'Резерв', 'Встреча назначена', nan, 'Получено',
       'Недозвон', 'Перенос кандидата', 'Отказ кандидата', 'Ожидание',
       'Черный список'], dtype=object)

In [71]:
le_masque = sorted_df['stage_name'] == 'СБ'
le_masque &= sorted_df['activity_name'] == 'Получить согласование повторного приема и отправить в СБ'
df_sb_4 = sorted_df[le_masque]
df_sb_4['result_name'].unique()

array(['Не получено', 'Получено', 'Подготовлена', nan], dtype=object)

In [72]:
le_masque = sorted_df['stage_name'] == 'СБ'
le_masque &= sorted_df['activity_name'] == 'Проверка формы обращения'
df_sb_5 = sorted_df[le_masque]
df_sb_5['result_name'].unique()

array(['Не резерв', 'Подготовлена', 'Кадровый резерв'], dtype=object)

4) Стадия 'Обработка'

In [44]:
le_masque = sorted_df['stage_name'] == 'Обработка'
df_ob = sorted_df[le_masque]
df_ob['activity_name'].unique()

array(['Провести первичную обработку', 'Проверка формы обращения', nan,
       'Проверка источника', 'Узнать результаты медосмотра',
       'Узнать результаты СБ',
       'Назначить время на оформление/медосмотр (недозвон)'], dtype=object)

In [45]:
le_masque = sorted_df['stage_name'] == 'Обработка'
le_masque &= sorted_df['activity_name'] == 'Провести первичную обработку'
df_ob_2 = sorted_df[le_masque]
df_ob_2['result_name'].unique()

array(['Подходит', 'Недозвон', 'Отказ кандидата', 'Не подходит', 'Резерв',
       'Перенос звонка', 'Ожидание', nan, 'Встреча назначена',
       'Обработка', 'Интервью с руководителем',
       'Назначить время на оформление/медосмотр', 'Нет обратной связи',
       'Принят'], dtype=object)

In [35]:
le_masque = sorted_df['stage_name'] == 'Обработка'
le_masque &= sorted_df['activity_name'] == 'Проверка формы обращения'
df_ob_3 = sorted_df[le_masque]
df_ob_3['result_name'].unique()

array(['Не резерв', 'Подходит', 'Кадровый резерв'], dtype=object)

In [36]:
le_masque = sorted_df['stage_name'] == 'Обработка'
le_masque &= sorted_df['activity_name'] == 'Проверка источника'
df_ob_4 = sorted_df[le_masque]
df_ob_4['result_name'].unique()

array(['Источник не Яндекс Цифра', 'Источник Яндекс Цифра', 'Подходит',
       nan], dtype=object)

In [37]:
le_masque = sorted_df['stage_name'] == 'Обработка'
le_masque &= sorted_df['activity_name'] == 'Узнать результаты медосмотра'
df_ob_5 = sorted_df[le_masque]
df_ob_5['result_name'].unique()

array(['Недозвон'], dtype=object)

In [38]:
le_masque = sorted_df['stage_name'] == 'Обработка'
le_masque &= sorted_df['activity_name'] == 'Узнать результаты СБ'
df_ob_6 = sorted_df[le_masque]
df_ob_6['result_name'].unique()

array(['Подходит'], dtype=object)

In [46]:
le_masque = sorted_df['stage_name'] == 'Обработка'
le_masque &= sorted_df['activity_name'] == 'Назначить время на оформление/медосмотр (недозвон)'
df_ob_7 = sorted_df[le_masque]
df_ob_7['result_name'].unique()

array(['Недозвон'], dtype=object)

5) Стадия 'Назначение времени на оформление/медосмотр'

In [40]:
le_masque = sorted_df['stage_name'] == 'Назначение времени на оформление/медосмотр'
df_ob = sorted_df[le_masque]
df_ob['activity_name'].unique()

array(['Назначить время на оформление/медосмотр',
       'Назначить время на оформление/медосмотр (недозвон)',
       'Узнать результаты медосмотра'], dtype=object)

In [41]:
le_masque = sorted_df['stage_name'] == 'Назначение времени на оформление/медосмотр'
le_masque &= sorted_df['activity_name'] == 'Назначить время на оформление/медосмотр'
df_of = sorted_df[le_masque]
df_of['result_name'].unique()

array(['Время назначено', 'Недозвон', 'Отказ кандидата',
       'Направлен на медосмотр', 'Подходит', 'Резерв', 'Перенос звонка',
       'Нет обратной связи', 'Ожидание', 'Не подходит',
       'Назначить время на оформление/медосмотр', 'Принят',
       'Встреча назначена', 'В ожидании', 'Оформление'], dtype=object)

In [42]:
le_masque = sorted_df['stage_name'] == 'Назначение времени на оформление/медосмотр'
le_masque &= sorted_df['activity_name'] == 'Назначить время на оформление/медосмотр (недозвон)'
df_of_2 = sorted_df[le_masque]
df_of_2['result_name'].unique()

array(['Время назначено', 'Отказ кандидата', 'Направлен на медосмотр',
       'Недозвон', 'Резерв', 'Перенос звонка', 'Подходит', 'Ожидание',
       nan, 'СБ', 'Нет обратной связи', 'В ожидании', 'Черный список'],
      dtype=object)

In [43]:
le_masque = sorted_df['stage_name'] == 'Назначение времени на оформление/медосмотр'
le_masque &= sorted_df['activity_name'] == 'Узнать результаты медосмотра'
df_of_3 = sorted_df[le_masque]
df_of_3['result_name'].unique()

array(['Подходит', 'Время назначено', 'Недозвон', 'Отказ кандидата',
       'Резерв', 'Не подходит', 'Перенос звонка',
       'Направлен на медосмотр', 'Ожидание', nan, 'В ожидании'],
      dtype=object)

6) Стадия 'Оформление'

In [44]:
le_masque = sorted_df['stage_name'] == 'Оформление'
df_off = sorted_df[le_masque]
df_off['activity_name'].unique()

array(['Узнать результаты приема',
       'Назначить время на оформление/медосмотр',
       'Назначить время на оформление/медосмотр (недозвон)',
       'Назначить время на оформление', 'Узнать результаты медосмотра',
       nan], dtype=object)

In [45]:
le_masque = sorted_df['stage_name'] == 'Оформление'
le_masque &= sorted_df['activity_name'] == 'Узнать результаты приема'
df_off_2 = sorted_df[le_masque]
df_off_2['result_name'].unique()

array(['В ожидании', 'Принят', 'Отказ кандидата', 'Резерв', 'Не принят',
       nan, 'Недозвон', 'Подходит', 'Время назначено', 'Ожидание',
       'Оформление', 'Нет обратной связи', 'Направлен на медосмотр',
       'Встреча назначена', 'Черный список'], dtype=object)

In [46]:
le_masque = sorted_df['stage_name'] == 'Оформление'
le_masque &= sorted_df['activity_name'] == 'Назначить время на оформление/медосмотр'
df_off_3 = sorted_df[le_masque]
df_off_3['result_name'].unique()

array(['Недозвон', 'Время назначено', 'Ожидание',
       'Направлен на медосмотр', 'Отказ кандидата', 'Резерв', nan,
       'Подходит', 'Не подходит', 'Встреча назначена', 'Перенос звонка'],
      dtype=object)

In [47]:
le_masque = sorted_df['stage_name'] == 'Оформление'
le_masque &= sorted_df['activity_name'] == 'Назначить время на оформление/медосмотр (недозвон)'
df_off_4 = sorted_df[le_masque]
df_off_4['result_name'].unique()

array(['Недозвон', 'Отказ кандидата', 'Время назначено', nan, 'Резерв',
       'Ожидание'], dtype=object)

In [48]:
le_masque = sorted_df['stage_name'] == 'Оформление'
le_masque &= sorted_df['activity_name'] == 'Назначить время на оформление'
df_off_4 = sorted_df[le_masque]
df_off_4['result_name'].unique()

array(['Время назначено'], dtype=object)

In [49]:
le_masque = sorted_df['stage_name'] == 'Оформление'
le_masque &= sorted_df['activity_name'] == 'Узнать результаты медосмотра'
df_off_5 = sorted_df[le_masque]
df_off_5['result_name'].unique()

array(['Недозвон', 'Перенос звонка', 'Отказ кандидата', 'Подходит', nan,
       'Резерв', 'Ожидание', 'Время назначено'], dtype=object)

7) Стадия 'Смена вакансии'

In [51]:
le_masque = sorted_df['stage_name'] == 'Смена вакансии'
df_sm = sorted_df[le_masque]
df_sm['activity_name'].unique()

array([nan], dtype=object)

8) Стадия 'Выход на работу'

In [52]:
le_masque = sorted_df['stage_name'] == 'Выход на работу'
df_exit = sorted_df[le_masque]
df_exit['activity_name'].unique()

array([nan, 'Проверить выход на работу', 'Узнать результаты приема'],
      dtype=object)

In [53]:
le_masque = sorted_df['stage_name'] == 'Выход на работу'
le_masque &= sorted_df['activity_name'] == 'Проверить выход на работу'
df_exit_2 = sorted_df[le_masque]
df_exit_2['result_name'].unique()

array(['Вышел'], dtype=object)

In [73]:
le_masque = sorted_df['stage_name'] == 'Выход на работу'
le_masque &= sorted_df['activity_name'] == 'Узнать результаты приема'
df_exit_3 = sorted_df[le_masque]
df_exit_3['result_name'].unique()

array(['Принят'], dtype=object)

9) Стадия 'Отказался'

In [55]:
le_masque = sorted_df['stage_name'] == 'Отказался'
df_otk = sorted_df[le_masque]
df_otk['activity_name'].unique()

array([nan], dtype=object)

10) Стадия 'Резерв'

In [59]:
le_masque = sorted_df['stage_name'] == 'Резерв'
df_res = sorted_df[le_masque]
df_res['activity_name'].unique()

array([nan], dtype=object)

11) Стадия 'Ожидание'

In [60]:
le_masque = sorted_df['stage_name'] == 'Ожидание'
df_wait = sorted_df[le_masque]
df_wait['activity_name'].unique()

array(['Вернуть в воронку', 'Назначить интервью с руководителем',
       'Назначить время на оформление/медосмотр',
       'Провести первичную обработку', 'Узнать результаты приема', nan],
      dtype=object)

In [61]:
le_masque = sorted_df['stage_name'] == 'Ожидание'
le_masque &= sorted_df['activity_name'] == 'Вернуть в воронку'
df_wait_1 = sorted_df[le_masque]
df_wait_1['result_name'].unique()

array(['Назначить время на оформление/медосмотр', nan,
       'Интервью с руководителем', 'Оформление', 'Обработка', 'Подходит',
       'СБ', 'Недозвон', 'Ожидание', 'Нет обратной связи', 'В ожидании',
       'Время назначено', 'Не подходит'], dtype=object)

In [62]:
le_masque = sorted_df['stage_name'] == 'Ожидание'
le_masque &= sorted_df['activity_name'] == 'Назначить интервью с руководителем'
df_wait_2 = sorted_df[le_masque]
df_wait_2['result_name'].unique()

array(['Интервью с руководителем', 'Обработка'], dtype=object)

In [63]:
le_masque = sorted_df['stage_name'] == 'Ожидание'
le_masque &= sorted_df['activity_name'] == 'Назначить время на оформление/медосмотр'
df_wait_3 = sorted_df[le_masque]
df_wait_3['result_name'].unique()

array(['Назначить время на оформление/медосмотр'], dtype=object)

In [64]:
le_masque = sorted_df['stage_name'] == 'Ожидание'
le_masque &= sorted_df['activity_name'] == 'Провести первичную обработку'
df_wait_4 = sorted_df[le_masque]
df_wait_4['result_name'].unique()

array(['Обработка'], dtype=object)

In [65]:
le_masque = sorted_df['stage_name'] == 'Ожидание'
le_masque &= sorted_df['activity_name'] == 'Узнать результаты приема'
df_wait_5 = sorted_df[le_masque]
df_wait_5['result_name'].unique()

array(['Оформление'], dtype=object)

12) Стадия 'Не прошел СБ'

In [66]:
le_masque = sorted_df['stage_name'] == 'Не прошел СБ'
df_dont = sorted_df[le_masque]
df_dont['activity_name'].unique()

array([nan, 'Вывести из черного списка'], dtype=object)

In [67]:
le_masque = sorted_df['stage_name'] == 'Не прошел СБ'
le_masque &= sorted_df['activity_name'] == 'Вывести из черного списка'
df_dont_1 = sorted_df[le_masque]
df_dont_1['result_name'].unique()

array([nan, 'В белый список'], dtype=object)

13) Стадия 'Мы отказали'

In [70]:
le_masque = sorted_df['stage_name'] == 'Мы отказали'
df_hz = sorted_df[le_masque]
df_hz['activity_name'].unique()

array([nan], dtype=object)

14) Стадия 'Черный список'

In [71]:
le_masque = sorted_df['stage_name'] == 'Черный список'
df_black = sorted_df[le_masque]
df_black['activity_name'].unique()

array(['Вывести из черного списка'], dtype=object)

In [72]:
le_masque = sorted_df['stage_name'] == 'Черный список'
le_masque &= sorted_df['activity_name'] == 'Вывести из черного списка'
df_black_1 = sorted_df[le_masque]
df_black_1['result_name'].unique()

array(['В белый список', nan], dtype=object)

15) Стадия 'Кадровый резерв'

In [47]:
le_masque = sorted_df['stage_name'] == 'Кадровый резерв'
df_res = sorted_df[le_masque]
df_res['activity_name'].unique()

array([nan], dtype=object)

In [48]:
sorted_df['result_name'].value_counts()

Подходит                                   1243739
Встреча назначена                           652277
Недозвон                                    436727
Отказ кандидата                             388421
Нет обратной связи                          383348
Подготовлена                                320500
Источник не Яндекс Цифра                    233733
В ожидании                                  190485
Время назначено                             168194
Принят                                      113246
Не подходит                                 106133
Перенос кандидата                            69746
Резерв                                       67575
Не резерв                                    65979
Ожидание                                     24160
Направлен на медосмотр                       12389
Перенос звонка                                8479
Назначить время на оформление/медосмотр       4486
Интервью с руководителем                      3912
Не принят                                     2608
Оформление                                    2560
Получено                                      1950
Согласование повторного приема                1943
Обработка                                     1676
Уточнение данных                               826
Кадровый резерв                                548
Перенос руководителя                           289
Отказ руководителя                             285
Источник Яндекс Цифра                          276
СБ                                             222
Не получено                                     92
Не подготовлена                                  7
Черный список                                    6
В белый список                                   6
Вышел                                            2
Данные не предоставлены                          1
Name: result_name, dtype: int64

Посмотрим на тех двух кандидатов, которы вышли на работу:

In [49]:
sorted_df[sorted_df['result_name'] == 'Вышел']

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
7132391,2249244,2422399,11385092,32125,2018-02-02 16:33:04.980892+00,Выход на работу,Проверить выход на работу,Вышел,False
3789147,2251045,2171663,11406269,10422,2018-02-05 16:13:56.646279+00,Выход на работу,Проверить выход на работу,Вышел,False

1. Кандидат с айдишником 2251045:

In [50]:
sorted_df[sorted_df['id_applicant'] == 2251045]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
427181,2251045,2171663,-1,10422,2018-01-22 12:40:52.124006+00,Создание кандидата,NaN,NaN,False
3789146,2251045,2171663,11150408,10422,2018-01-22 12:41:03.906953+00,Обработка,Провести первичную обработку,Подходит,False
3789145,2251045,2171663,11150409,10422,2018-01-22 12:41:04.520436+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
3789144,2251045,2171663,11150410,10422,2018-01-22 12:41:05.174733+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
3789143,2251045,2171663,11150413,10422,2018-01-22 12:41:06.02009+00,СБ,Подготовить анкету кандидата,Подготовлена,False
3789154,2251045,2171663,11152851,10422,2018-01-22 13:58:28.864804+00,СБ,Узнать результаты СБ,Подходит,False
3789153,2251045,2171663,11163625,10422,2018-01-23 09:26:38.122946+00,Назначение времени на оформление/медосмотр,Назначить время на оформление/медосмотр,Время назначено,False
3789152,2251045,2171663,11252155,10422,2018-01-26 14:33:08.245627+00,Оформление,Узнать результаты приема,В ожидании,False
3789151,2251045,2171663,11295859,10422,2018-01-30 11:40:05.600159+00,Оформление,Узнать результаты приема,В ожидании,False
3789150,2251045,2171663,11351807,10422,2018-02-01 13:01:04.048388+00,Оформление,Узнать результаты приема,В ожидании,False
3789149,2251045,2171663,11397104,10422,2018-02-05 11:44:26.055939+00,Оформление,Узнать результаты приема,В ожидании,False
3789147,2251045,2171663,11406269,10422,2018-02-05 16:13:56.646279+00,Выход на работу,Проверить выход на работу,Вышел,False

Что получается (идеальный сценарий):
* Создаем кандидата, проводим первичную обработку. 
* Если подходит, то назначить собеседование. 
* Узнать результаты собеседования, если подходит, то готовим анкету кандидата для службы безопасности. 
* Узнать результаты проверки СБ, если подходит, то назначить время на оформление/медосмотр.
* Оформление...
* В итоге, проверить выход кандидата на работу, ура, вышел!

2. Кандидат с айдишником 2249244

In [51]:
sorted_df[sorted_df['id_applicant'] == 2249244]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
805627,2249244,2422399,-1,32125,2018-01-22 10:03:49.549788+00,Создание кандидата,NaN,NaN,False
7132395,2249244,2422399,11142977,32125,2018-01-22 10:04:03.056379+00,Обработка,Провести первичную обработку,Подходит,False
7132394,2249244,2422399,11142978,32125,2018-01-22 10:04:03.734163+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
7132393,2249244,2422399,11142980,32125,2018-01-22 10:04:04.660851+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
7132392,2249244,2422399,11142981,32125,2018-01-22 10:04:05.424206+00,СБ,Подготовить анкету кандидата,Подготовлена,False
7132404,2249244,2422399,11150805,32125,2018-01-22 12:50:28.502967+00,СБ,Узнать результаты СБ,Подходит,False
7132403,2249244,2422399,11163491,32125,2018-01-23 09:23:19.232394+00,Назначение времени на оформление/медосмотр,Назначить время на оформление/медосмотр,Недозвон,False
7132402,2249244,2422399,11259207,32125,2018-01-26 17:12:16.545772+00,Назначение времени на оформление/медосмотр,Назначить время на оформление/медосмотр (недоз...,Недозвон,False
7132401,2249244,2422399,11295821,32125,2018-01-30 11:39:28.471224+00,Назначение времени на оформление/медосмотр,Назначить время на оформление/медосмотр (недоз...,Недозвон,False
7132400,2249244,2422399,11331570,32125,2018-01-31 14:52:06.588788+00,Назначение времени на оформление/медосмотр,Назначить время на оформление/медосмотр (недоз...,Недозвон,False
7132396,2249244,2422399,11351350,32125,2018-02-01 12:55:22.407976+00,Назначение времени на оформление/медосмотр,Назначить время на оформление/медосмотр (недоз...,Время назначено,False
7132391,2249244,2422399,11385092,32125,2018-02-02 16:33:04.980892+00,Выход на работу,Проверить выход на работу,Вышел,False

Этапы аналогичны до назначения времени на оформление/медосмотр. Не могли дозвониться до кандидата неделю, дозвонились, назначили время, через день он уже вышел... Странно, а где оформление?)

В целом, интересно время действий.За один день сразу несколько этапов: и кандидата создали, и проверили первично, и интервью провели, и СБ проверила. Невозможно)
    Предполагаю, что hr не заполняет информацию своевременно. А уже через какое-то время, когда кандидат на офрмлении, возможно, hr понимает, что надо бы и предыдущие стадии отразить в базе и фигачит их друх за другом с разницей в секунду

Посмотрим другие сценарии:

In [52]:
sorted_df[sorted_df['id_applicant'] == 2957104]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
569387,2957104,2811715,-1,6668,2018-09-10 09:24:18.058855+00,Создание кандидата,NaN,NaN,False
1179406,2957104,2811715,15210672,6668,2018-09-10 09:25:41.344279+00,Обработка,Провести первичную обработку,Не подходит,False
1179395,2957104,2811715,15210693,6668,2018-09-10 09:26:56.854672+00,Мы отказали,NaN,Не подходит,False

Если кандидат не подходит на первом этапе обработки, отказываем :(

In [53]:
sorted_df[sorted_df['id_applicant'] == 2442073]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
540784,2442073,2519012,-1,11404,2018-03-27 15:10:20.815826+00,Создание кандидата,NaN,NaN,False
1629052,2442073,2519012,12155081,11404,2018-03-27 15:10:51.560498+00,Обработка,Провести первичную обработку,Подходит,False
1629051,2442073,2519012,12155085,11404,2018-03-27 15:11:03.882588+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
1629049,2442073,2519012,12193822,11404,2018-03-29 13:18:28.871399+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Перенос кандидата,False
1629050,2442073,2519012,12193832,11404,2018-03-29 13:18:47.842058+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
1629047,2442073,2519012,12237404,11404,2018-04-02 11:01:07.774847+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Не подходит,False
1629048,2442073,2519012,12237427,11404,2018-04-02 11:01:36.630792+00,Мы отказали,NaN,Нет обратной связи,False
1629046,2442073,2519012,12293044,11404,2018-04-04 16:26:46.782684+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Не подходит,False

Не подошел на этапе собеседования, отказываем :(

In [58]:
sorted_df[sorted_df['id_applicant'] == 3330732]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
245572,3330732,3034085,-1,24012,2018-12-29 19:08:02.334804+00,Создание кандидата,NaN,NaN,False
5780153,3330732,3034085,17153311,24012,2018-12-29 19:08:31.297688+00,Обработка,Провести первичную обработку,Подходит,False
5780154,3330732,3034085,17153312,24012,2018-12-29 19:08:31.690072+00,Обработка,Проверка формы обращения,Не резерв,False
5780152,3330732,3034085,17153313,24012,2018-12-29 19:08:44.957172+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
5780149,3330732,3034085,17185078,24012,2019-01-09 16:49:58.275223+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
5780150,3330732,3034085,17185079,24012,2019-01-09 16:50:01.470807+00,СБ,Подготовить анкету кандидата,Подготовлена,False
5780151,3330732,3034085,17191883,24012,2019-01-10 09:30:02.929802+00,СБ,Узнать результаты СБ,Не подходит,False

Не прошел проверку службой безопасности, отказываем :(

In [59]:
sorted_df[sorted_df['id_applicant'] == 3034085]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
223599,3034085,2851930,-1,10390,2018-10-02 14:14:54.979972+00,Создание кандидата,NaN,NaN,False
2106640,3034085,2851930,15646027,10390,2018-10-02 14:15:11.268373+00,Обработка,Провести первичную обработку,Подходит,False
2106639,3034085,2851930,15646035,10390,2018-10-02 14:15:23.509419+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
2106638,3034085,2851930,15646428,10390,2018-10-02 14:24:27+00,Смена вакансии,NaN,NaN,False

Еще странная стадия - смена вакансии. Видимо, кандидат изъявил желание поменять вакансию, дальше обычно информации нет.

In [20]:
df_reject = sorted_df.copy()
mask = df_reject['result_name'] == 'Отказ кандидата'
df_reject = df_reject[mask]
df_reject['activity_name'].unique()

array(['Назначить время на оформление/медосмотр (недозвон)',
       'Узнать результаты приема',
       'Узнать результаты интервью с руководителем',
       'Назначить время на оформление/медосмотр',
       'Узнать результаты медосмотра', 'Провести первичную обработку',
       'Назначить интервью с руководителем', nan,
       'Подготовить анкету кандидата', 'Узнать результаты СБ'],
      dtype=object)

In [ ]:
Сам кандидат может отказаться на любом этапе трудоустройства

In [75]:
df_exit_3 # те, кого приняли на работу

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
7065431,2450958,2528369,12332727,31396,2018-04-06 13:33:35.4907+00,Выход на работу,Узнать результаты приема,Принят,False
3548051,2472763,2539536,12661819,30509,2018-04-27 11:49:13.15228+00,Выход на работу,Узнать результаты приема,Принят,False
2870786,2585097,2554273,13071059,31118,2018-05-23 14:42:09.096436+00,Выход на работу,Узнать результаты приема,Принят,False
1650251,2875534,2764587,15737452,7210,2018-10-08 11:55:06.513311+00,Выход на работу,Узнать результаты приема,Принят,False
1822952,2912428,2785928,15757452,9627,2018-10-09 10:45:59.038938+00,Выход на работу,Узнать результаты приема,Принят,False
1358842,2985859,2828277,15595165,31326,2018-09-28 12:49:36.485708+00,Выход на работу,Узнать результаты приема,Принят,False
5553479,2991997,2539204,15616921,34048,2018-10-01 11:19:00.414376+00,Выход на работу,Узнать результаты приема,Принят,False
3378611,3015405,2809900,15632851,25658,2018-10-02 09:27:35.231795+00,Выход на работу,Узнать результаты приема,Принят,False
1911614,3048985,2864742,15784254,35125,2018-10-10 14:08:24.299509+00,Выход на работу,Узнать результаты приема,Принят,False
5173160,3086687,2861731,15906659,17820,2018-10-18 11:37:56.403925+00,Выход на работу,Узнать результаты приема,Принят,False
4559988,3123554,2901096,16599785,29599,2018-11-29 15:22:42.850881+00,Выход на работу,Узнать результаты приема,Принят,False
5145156,3161060,2931530,16498977,6855,2018-11-23 16:15:18.211592+00,Выход на работу,Узнать результаты приема,Принят,False
5054321,3192593,2280598,16653996,19062,2018-12-03 12:13:40.358149+00,Выход на работу,Узнать результаты приема,Принят,False
5332723,3303246,3017629,17092630,36364,2018-12-26 10:01:32.025256+00,Выход на работу,Узнать результаты приема,Принят,False
4504411,3310541,3021963,17180246,32796,2019-01-09 15:15:33.049978+00,Выход на работу,Узнать результаты приема,Принят,False

Не понятно, в чем разница между "узнать результаты приема - принят" и "Проверить выход на работу - принят". По логике в обе группы попадают кандидаты, которых трудоустроили.

In [81]:
sorted_df[sorted_df['id_applicant'] == 2472763]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,is_open_action
74581,2472763,2539536,-1,30509,2018-04-06 09:31:29.11047+00,Создание кандидата,NaN,NaN,False
3548048,2472763,2539536,12322550,30509,2018-04-06 09:31:53.393933+00,Обработка,Провести первичную обработку,Подходит,False
3548047,2472763,2539536,12322551,30509,2018-04-06 09:31:54.249132+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,False
3548050,2472763,2539536,12322554,30509,2018-04-06 09:31:55.10961+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,False
3548049,2472763,2539536,12322555,30509,2018-04-06 09:31:55.840815+00,СБ,Подготовить анкету кандидата,Подготовлена,False
3548046,2472763,2539536,12336323,30509,2018-04-06 15:22:53.949873+00,СБ,Узнать результаты СБ,Подходит,False
3548045,2472763,2539536,12350418,30509,2018-04-09 11:18:53.658687+00,Назначение времени на оформление/медосмотр,Назначить время на оформление/медосмотр,Время назначено,False
3548044,2472763,2539536,12406071,30509,2018-04-11 16:16:06.000229+00,Оформление,Узнать результаты приема,В ожидании,False
3548043,2472763,2539536,12442336,30509,2018-04-13 13:50:15.575197+00,Оформление,Узнать результаты приема,В ожидании,False
3548042,2472763,2539536,12442411,30509,2018-04-13 13:53:08.951483+00,Оформление,Узнать результаты приема,В ожидании,False
3548041,2472763,2539536,12531511,30509,2018-04-19 14:17:22.571228+00,Оформление,Узнать результаты приема,В ожидании,False
3548040,2472763,2539536,12581356,30509,2018-04-23 17:39:35.017144+00,Оформление,Узнать результаты приема,В ожидании,False
3548039,2472763,2539536,12627914,30509,2018-04-25 17:18:29.973466+00,Оформление,Узнать результаты приема,В ожидании,False
3548051,2472763,2539536,12661819,30509,2018-04-27 11:49:13.15228+00,Выход на работу,Узнать результаты приема,Принят,False

Выше путь кандидата, которого приняли. Путь аналогичен кандидату, который вышел на работу.